<ul class="left_nav_con">
    <li class="<?php if (in_array(ACTION_NAME, ['history_list', 'history_detail'])) echo 'active'; ?>">
        <a href="{:url('history_list')}">飞行记录</a>
    </li>
    <li class="<?php if (in_array(ACTION_NAME, ['flight_list', 'add_flight','check_flight'])) echo 'active'; ?>">
        <a href="{:url('flight_list')}">航线类型</a>
    </li>
    <li class="<?php if (in_array(ACTION_NAME, ['person_info'])) echo 'active'; ?>">
        <a href="{:url('person_info')}">个人信息</a>
    </li>
</ul>