{include file='public/header' /}
{include file='public/top_nav' /}
<style>
    .rule-table span{display:inline-block;padding:10px 0;}
    .rule-table td,.rule-table th,.rule-table{border-color:#4D8CCF}
    .left-sider{
        width: 30%;
        float: left;
        padding: 5%;
        box-sizing: border-box;
    }
    .right-sider{
        width: 60%;
        float: right;
        padding: 5%;
        box-sizing: border-box;
    }
    .controls{
        display:block;
        width:200px;
        height:200px;
        background:url(/static/index/img/circle.png) no-repeat center;
        background-size:100% 100%;
        position:absolute;
        padding:30px;
    }
    
    .controls .table td div{width:95%;height:95%;}
    .controls .table td div img{ width:100%;height:100%;background:none !important;}
    .controls .table td div .arrow:hover{cursor:pointer;} 
    .controls .table td{padding:0;}
</style>
<!-- 内容 -->
<div class="a-15" style="overflow: visible;">
    <div class="user_con">
        <div class="left_nav">
        <?php if($permission['permissionGroupID']==0):?>
            {include file='public/setting_nav' /}
        <?php else:?>
            {include file='public/setting_not_admin' /}
        <?php endif;?>
        </div>
        <form action="{:url('add_flight')}" class="right_content add_con" id="flight_form" data-back="{:url('index/flight_list')}" onsubmit="return validateForm()">
            <input type="hidden" name="towerShapeNameID" value="{$data.towerShapeNameID|default=-1}" />
            <div class="top_con mt-20">
                <span class="l">
                    <a class="add_btn" href="{:url('flight_list')}">返回</a>
                </span>
                <span class="r">
                     <!-- <a class="add_btn" href="javascript:void(0);" onclick="submit_form(this)">完成</a> -->
                     <a class="add_btn" href="javascript:void(0);" id=submitAndValidate>完成</a>
                </span>
                <div style="clear:both;"></div>
            </div>
            <div class="table_con">
                <?php if($data['towerShapeNameID']==34):?>
                <?php else:?>
                <div class="left-sider">
                    <table class="table mt-10">
                        <tr>
                            <td>
                                <div class="controls">
                                    <table class="table">
                                        <tr>
                                            <td><div></div></td>
                                            <td><div class="po0"><img src="/static/index/img/up<?php if($data['shapeInCompass'][0]==1)echo 'select';?>.png" data-dire="up" class="arrow <?php if($data['shapeInCompass'][0]==1)echo ' active';?>" />
                                                <input type="hidden" name="po[0]" value="{$data.shapeInCompass.0+0}" /></div></td>
                                            <td><div></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="po2"><img src="/static/index/img/left<?php if($data['shapeInCompass'][1]==1)echo 'select';?>.png" data-dire="left" class="arrow <?php if($data['shapeInCompass'][1]==1)echo ' active';?>" />
                                                    <input type="hidden" name="po[2]" value="{$data.shapeInCompass.1+0}" />
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <img src="/static/index/img/circlemid.png" />
                                                </div>
                                            </td>
                                            <td><div class="po3"><img src="/static/index/img/right<?php if($data['shapeInCompass'][2]==1)echo 'select';?>.png" data-dire="right" class="arrow <?php if($data['shapeInCompass'][2]==1)echo ' active';?>" />
                                                <input type="hidden" name="po[3]" value="{$data.shapeInCompass.2+0}" />
                                            </div></td>
                                        </tr>
                                        <tr>
                                            <td><div></div></td>
                                            <td>
                                                <div class="po1">
                                                    <img src="/static/index/img/down<?php if($data['shapeInCompass'][3]==1)echo 'select';?>.png" data-dire="down" class="arrow <?php if($data['shapeInCompass'][3]==1)echo ' active';?>" />
                                                    <input type="hidden" name="po[1]" value="{$data.shapeInCompass.3+0}" />
                                                </div>
                                            </td>
                                            <td><div></div></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <?php endif;?>
                <div class="right-sider">
                    <table class="table mt-10">
                        <tr>
                            <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">航线类型名称 *：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="towerShapeName" value="{$data.towerShapeName}" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--<tr>   
                            <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">航线类型 ：</label>
                                    <div class="formControls col-xs-8">
                                        <select class="select" size="1" name="lineTypeID">
                                            {foreach name='lts' item='v'}
                                            <option value="{$v.lineTypeID}" <?php if($data['lineTypeID']==$v['lineTypeID'])echo ' selected';?>>{$v.lineTypeName}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </td>
                             <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">偏心角度 *：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="towerTypeOffCenterAngle" value="{$data.towerTypeOffCenterAngle}" required>
                                    </div>
                                </div>
                            </td> 
                        </tr>-->
                        <tr>
                            <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">正拍角度 *：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" id="towerTypeLeftAngle" autocomplete="off" placeholder="" name="towerTypeLeftAngle" value="{$data.towerTypeLeftAngle}" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">侧拍角度 *：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" id="towerTypeRightAngle" autocomplete="off" placeholder="" name="towerTypeRightAngle" value="{$data.towerTypeRightAngle}" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>    
                            <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">是否通道巡检 *：</label>
                                    <div class="formControls col-xs-8">
                                        <select class="select" size="1" name="ChannelInspection">
                                            <option value="1" <?php if($data['ChannelInspection'])echo ' selected';?>>是</option>
                                            <option value="0" <?php if(!$data['ChannelInspection'])echo ' selected';?>>否</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <!-- <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">绝缘子层数 *：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="insulatorLayer" value="{$data.insulatorLayer}" required>
                                    </div>
                                </div>
                            </td> -->
                            <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">拍摄高度 *：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text"  id="tower_height" autocomplete="off" placeholder="" name="tower_height" value="{$data.tower_height}" required>
                                    </div>
                                </div>
                            </td>
                            <!-- <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">长：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="tower_length" value="{$data.tower_length}">
                                    </div>
                                </div>
                            </td> -->
                        </tr>
                        <tr>
                            <!-- <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">宽：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="tower_width" value="{$data.tower_width}">
                                    </div>
                                </div>
                            </td> -->
                            <!-- <td>
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">备注：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="comment" value="{$data.comment}">
                                    </div>
                                </div>
                            </td> -->
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
{include file='public/footer' /}
<script>
    $('.controls .arrow').on('click',function(){
        console.log("controls arrow is clicked");

        var dire=$(this).data('dire');
        console.log("dire :" ,dire);


        if (dire === 'up') {
            // 对应po_arr[0]
            var po_arr=[];
            for(var i=0;i<=3;i++){
                var po_con=$('.po'+i);
                po_arr.push(po_con.find('input').val());
            }
            console.log("po_arr :" , po_arr);

            console.log("select dire up " );
            console.log("po_arr[0] : " ,po_arr[0]);
            if ($(this).hasClass('active')) {
                // 如果是 active 状态
                $(this).attr('src','/static/index/img/'+dire+'.png');
                $(this).removeClass('active');
                $(this).parent().find('input').val(0);
                po_arr[0] = 0;
                console.log("po_arr[0] : " ,po_arr[0]);
            } else {
            // 如果不是 active 状态
                $(this).attr('src','/static/index/img/'+dire+'select.png');
                $(this).addClass('active');
                $(this).parent().find('input').val(1);
                po_arr[0] = 1;
                console.log("po_arr[0] : " ,po_arr[0]);
            }
        } 
        if (dire === 'left') {
            // 对应po_arr[0]
            var po_arr=[];
            for(var i=0;i<=3;i++){
                var po_con=$('.po'+i);
                po_arr.push(po_con.find('input').val());
            }
            console.log("po_arr :" , po_arr);
            console.log("select dire left " );
            console.log("po_arr[2] : " ,po_arr[2]);
            if ($(this).hasClass('active')) {
                // 如果是 active 状态
                $(this).attr('src','/static/index/img/'+dire+'.png');
                $(this).removeClass('active');
                $(this).parent().find('input').val(0);
   
                po_arr[2] = 0;
                console.log(" change po_arr[2] : " ,po_arr[2]);
            } else {
            // 如果不是 active 状态
                $(this).attr('src','/static/index/img/'+dire+'select.png');
                $(this).addClass('active');
                $(this).parent().find('input').val(1);
                po_arr[2] = 1;
                console.log(" change po_arr[2] : " ,po_arr[2]);
            }
        }
        if (dire === 'right') {
            var po_arr=[];
            for(var i=0;i<=3;i++){
                var po_con=$('.po'+i);
                po_arr.push(po_con.find('input').val());
            }
            console.log("po_arr :" , po_arr);
            console.log("select dire right " );
            console.log("po_arr[3] : " ,po_arr[3]);
            if ($(this).hasClass('active')) {
                console.log("is active" );
                $(this).attr('src','/static/index/img/'+dire+'.png');
                $(this).removeClass('active');
                $(this).parent().find('input').val(0);
                po_arr[3] = 0;
                console.log(" change po_arr[3] : " ,po_arr[3]);
            } else {
                console.log("not active" );
                $(this).attr('src','/static/index/img/'+dire+'select.png');
                $(this).addClass('active');
                $(this).parent().find('input').val(1);
                po_arr[3] = 1;
                console.log(" change po_arr[3] : " ,po_arr[3]);
            }
        }
        if(dire === 'down') {
            var po_arr=[];
            for(var i=0;i<=3;i++){
                var po_con=$('.po'+i);
                po_arr.push(po_con.find('input').val());
            }
            console.log("po_arr :" , po_arr);
            console.log("select dire down " );
            console.log("po_arr[1] : " ,po_arr[1]);
            if ($(this).hasClass('active')) {
                console.log("is active" );
                $(this).attr('src','/static/index/img/'+dire+'.png');
                $(this).removeClass('active');
                $(this).parent().find('input').val(0);
                po_arr[1] = 0;
                console.log(" change po_arr[1] : " ,po_arr[1]);
            } else {
                console.log("not active" );
                $(this).attr('src','/static/index/img/'+dire+'select.png');
                $(this).addClass('active');
                $(this).parent().find('input').val(1);
                po_arr[1] = 1;
                console.log(" change po_arr[1] : " ,po_arr[1]);
            }
        }
        
        
        console.log("change po_arr : " ,po_arr);


        // if($(this).hasClass('active')){
        //     $(this).attr('src','/static/index/img/'+dire+'.png');
        //     $(this).removeClass('active');
        //     $(this).parent().find('input').val(0);
        // }
        // else{
        //     $(this).attr('src','/static/index/img/'+dire+'select.png');
        //     $(this).addClass('active');
        //     $(this).parent().find('input').val(1);
        // }


        // console.log("ssss");

        console.log("bbb");
        po_arr=po_arr.join('');
        console.log("po_arr from php:" , po_arr);
        $('input[name=po_arr][type=hidden]').val(po_arr);
       // var po_arr1={$po_arr|json_encode|raw};
        //console.log(" new po_arr1 : " ,po_arr1);
        var towerShapeNameIDInput = document.querySelector('input[name="towerShapeNameID"]');
        var towerShapeNameIDValue = towerShapeNameIDInput.value;
        //console.log("当前 towerShapeNameID 的值: " + towerShapeNameIDValue);

        var shape_id = towerShapeNameIDValue;
        // po_arr1[po_arr];
        // console.log(" shape_id : " ,shape_id);
        // console.log("dddd");

        if(shape_id>0){
            $('select[name=towerShapeID]').val(shape_id);
        }else{
            $('select[name=towerShapeID]').val(-1);
        }
    })

    <?php if($my_permission['addData']<=0 && $my_permission['modifyData']<=0):?>
    $(function(){
        $('input,select').prop('disabled',true).prop('readonly',true);
    })
    <?php endif;?>
</script>

<script>
    var submitButton = document.getElementById("submitAndValidate");

    if(submitButton){
        submitButton.addEventListener("click",function(event){
            console.log("click submitButton");
            if(validateForm(this)){
                console.log("validate");
                submit_form(this);
            }else{
                console.log("not validate");
            }
            event.preventDefault();
        });
    }
</script>
<script>
    function validateForm() {
        console.log(" === validateForm === ");
        var towerTypeLeftAngle = document.getElementById("towerTypeLeftAngle").value;
        console.log("towerTypeLeftAngle :" , towerTypeLeftAngle);
        var towerTypeRightAngle = document.getElementById("towerTypeRightAngle").value;
        console.log("towerTypeRightAngle :" , towerTypeRightAngle);
        var tower_height = document.getElementById("tower_height").value;
        console.log("tower_height :" , tower_height);
        
        if(towerTypeLeftAngle == "" || towerTypeRightAngle == "" || tower_height == "")
        {
            layer.msg("保存失败，信息不完全",{time:1000});
            return false;
        } else {
            console.log("validate altitudePattern,latitudePattern,longitudePattern ");
            // var towerTypeLeftAnglePattern = /^\d+$/;
            //var towerTypeRightAnglePattern = /^-?\d{1,3}(?:\.\d{0,10}[1-9]\d*)$/;
           // var tower_heightPattern = /^-?\d{1,3}(?:\.\d{0,10}[1-9]\d*)$/;
            if ( towerTypeLeftAngle < 30 || towerTypeLeftAngle > 70) {
                layer.msg("正拍角度范围：30-70",{time:1000});
                return false;
            }
            if ( towerTypeRightAngle < 30 || towerTypeRightAngle > 70) {
                layer.msg("侧拍角度范围：30-70",{time:1000});
                return false;
            }
            if ( tower_height < 5 || tower_height > 30) {
                layer.msg("拍摄高度：5-30",{time:1000});
                return false;
            }
        }

        return true;
    }
</script>