{include file='public/header' /}
<style>
    .a-1{padding:30px;padding-top:0;}
    input[type=checkbox]{width:20px;height:20px;}
    #add_task_form .table-td td{padding-left:10px;}
    #add_task_form a.btn{
        color: white;
        background: none !important;
        border: none !important;

    }

    .zoom-overlay {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: auto;
    }

    .zoom-image {
        margin: 50px auto;
        display: block;
        max-width: 80%;
    }

    .zoom-image img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }

</style>



<form action="{:url('index/add_task')}" data-back="{:url('index')}" id="task_form" style="display:block;width:100%;height:100%;" onsubmit="return validateForm()">
    <div class="a-2 a-2-1">
        <!--            <img class="a-3" src="/static/index/img/top_bg.png" />-->
        <div class="text-c a-4" style="">{$title}</div>
        <div class="a-5 text-r top_btn">
            <div class="a-12">
                <a href="{:url('index/index')}" >返回</a>
            </div>
            <div class="a-6-box">
                <!-- <a class="add_btn" href="javascript:void(0);" onclick="submit_form(this)">完成</a> -->
                <a class="add_btn" href="javascript:void(0);" id=submitAndValidate>完成</a>
            </div>
            <div class="a-6-box">
                {if $data.submissionID !== null}
                    <a class="del_task" href="javascript:void(0);" data-id="{$data.submissionID}" id=delete>删除</a>
                {/if}
            </div>
        </div>
    </div>
    <!-- 内容 -->
    <div class="a-15" >
        <div class="big-border">
            <div id="add_task_form">
                <input type="hidden" name="submissionID" value="{$data.submissionID|default=-1}" />
                <table class="table ">
                    <tr>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">任务名称：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="submissionName" value="{$data.submissionName}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">任务类型：</label>
                                <div class="formControls col-xs-8">
                                     <select class="select" size="1" name="missionID" id="missionTypeSelect">
                                        {if $data.missionID == 5}
                                            <option value= "{$data.missionID}">航线导入任务</option>
                                        {else/}
                                            {foreach $filteredMissionList as $v}
                                                <option value="{$v.missionID}" <?php if ($v['missionID'] == $data['missionID']) echo 'selected'; ?>>{$v.missionType}</option>
                                            {/foreach}
                                        {/if}
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td id="flightHeightRow">
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">起飞高度：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" id="flightHeight" autocomplete="off" placeholder="" name="flightHeight" value="{$data.flightHeight}">
                                </div>
                            </div>
                        </td>
                        <!-- <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">两端拍照：</label>
                                <div class="formControls col-xs-8">
                                    <select class="select" size="1" name="doublePhoto">
                                        <option value="1" <?php if($data['doublePhoto'])echo ' selected';?>>是</option>
                                        <option value="0" <?php if(!$data['doublePhoto'])echo ' selected';?>>否</option>
                                    </select>
                                </div>
                            </div>
                        </td> -->
                        <!-- <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">无人机码：</label>
                                <div class="formControls col-xs-8" >
                                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="snCode" value="{$snCode}" readonly>
                                </div>
                            </div> 
                        </td> -->
                        <td id="policySelectRow">
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">返航策略：</label>
                                <div class="formControls col-xs-8" >
                                    <select class="select" size="1" name="policyID" id="policySelect">
                                        {foreach name='policys' item='v'}
                                        <option value="{$v.policyID}" <?php if($v['policyID']==$data['policyID'])echo ' selected';?>>{$v.policyType}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </td>

                        <td id="additionalRow" style="display: table-cell;">
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title" id="additionalLabel"></label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" name="additionalInput" id="additionalInput">
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr id="additionaltr">
                        <td id="longtitude" style="display:table-cell;">
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title" id="longtitudeLabel"></label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" name="landingLongtitude" id="longtitudeInput">
                                </div>
                            </div>
                        </td>
                        <td id="latitude" style="display:table-cell;">
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title" id="latitudeLabel"></label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" name="landingLatitude" id="latitudeInput">
                                </div>
                            </div>
                        </td>
                        <td id="altitude" style="display:table-cell;">
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title" id="altitudeLabel"></label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" name="landingAltitude" id="altitudeInput">
                                </div>
                            </div>
                        </td>
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                        <!-- <td></td> -->
                    </tr>

                    
                    <div>
                        <tr>
                            <td id="inputAltitudeRow">
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">RTK高度：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="inputAltitudeRow" value="{$data.inputAltitudeRow}">
                                    </div>
                                </div>
                            </td>
                            <td id="inputLongitudeRow">
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">RTK经度：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="inputLongitudeRow" value="{$data.inputLongitudeRow}">
                                    </div>
                                </div>
                            </td>
                            <td id="inputlatitudeRow">
                                <div class="row cl">
                                    <label class="form-label col-xs-4 table_title">RTK维度：</label>
                                    <div class="formControls col-xs-8">
                                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="inputlatitudeRow" value="{$data.inputlatitudeRow}">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </div>
                  
                </table>

                <?php if($data['missionID']==5):?>
                <table class="table " style="margin-top:10px;">
                    <tr class="table_title">
                        <td> 设置航点类型：</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <div class="table-td" style="overflow-y:auto;">
                                <table class="table linelist">
                                    <tr>
                                        <th>序号</th>
                                        <th>航点名称</th>
                                        <th>航点类型</th>
                                        <th>缩略图</th>
                                    </tr>
                                    {foreach name='waypoints' item='waypoint' key='k'}
                                    <tr>
                                        <td>{$k+1}</td>
                                        <td>{$waypoint.waypointName}</td>
                                        <td>
                                            {if $waypoint.waypointType == 6}
                                            <option name="photoType[]" value={$waypoint.waypointType}>路点</option>
                                            {else/}
                                                <select class="select" size="1" name="photoType[]" id="photoTypeSelect">
                                                    {foreach name='photoType' item='type'}
                                                    <option value="{$type.photoTypeID}" <?php if($type['photoTypeID']==$waypoint['waypointType'])echo ' selected';?>>{$type.photoTypeName}</option>
                                                    {/foreach}
                                                </select>
                                            {/if}
                                        </td>
                                        <td>
                                            {if $waypoint.waypointType == 6}
                                            <text>路点无缩略图</text>
                                            {elseif $waypoint.waypointPhoto == null}
                                            <text>暂无缩略图</text>
                                            {else/}
                                            <div class="image-container" onclick="showZoom('imageContainer{$k}')">
                                                <img src={$waypoint.waypointPhoto}  id="image{$k}" width="50px">
                                            </div>
                                            <div class="zoom-overlay" id="imageContainer{$k}">
                                                <div class="zoom-image">
                                                    <span class="close" onclick="hideZoom('imageContainer{$k}')">&times;</span>
                                                    <img src={$waypoint.waypointPhoto} alt="放大图像">
                                                </div>
                                            </div>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <?php else:?>
                <table class="table " style="margin-top:10px;">
                    <tr class="table_title">
                        <td>选择路线：</td>
                        <td>选择杆塔：</td>
                        <td>已选杆塔：</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <div class="table-td" style="overflow-y:auto;">
                                <table class="table linelist">
                                    <tr>
                                        <th>序号</th>
                                        <th>路线名称</th>
                                        <th>选择</th>
                                    </tr>
                                    {foreach name='lines' item='v' key='k'}
                                    <tr>
                                        <td>{$k+1}</td>
                                        <td>{$v.lineName}</td>
                                        <td>
                                            {if $data.submissionID === null}
                                                <input type="checkbox" value="{$v.lineID}" <?php if(in_array($v['lineID'],$line_ids))echo ' checked';?> >
                                            {else}
                                                <?php if(in_array($v['lineID'], $line_ids)): ?>
                                                    <input type="checkbox" value="<?php echo $v['lineID']; ?>" checked>
                                                <?php else: ?>
                                                    <input type="checkbox" value="<?php echo $v['lineID']; ?>" style="display:none;">
                                                <?php endif; ?>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </td>
                        <td style="vertical-align: top;">
                            <div class="table-td" style="overflow-y:auto;">
                                <table class="table towerlist">
                                    <tr>
                                        <th>序号</th>
                                        <th>杆塔名称</th>
                                        <th>杆塔形状</th>
                                        <th>&nbsp;&nbsp;&nbsp;操作</th>
                                    </tr>
                                    {foreach name='all_towers' item='v' key='k' }
                                    <tr class="tr{$v['towerID']} line{$v.lineID} tower_con" data-id="{$v['towerID']}" data-line="{$v.lineID}">
                                        <td>{$k+1}</td>
                                        <td>{$v['towerName']}</td>
                                        <td>{$shapes[$v['towerShapeID']]}</td>
                                        <td>
                                            <input type="hidden" value="{$v['towerID']}" name="towerID"/>
                                            <?php if(in_array($v['towerID'],$tower_ids)):?>
                                                <a href="javascript:void(0);" class="btn disabled" onclick="choose_tower(this)">已选</a>
                                            <?php else:?>
                                                {if $data.submissionID === null}
                                                    <a href="javascript:void(0);" class="btn " onclick="choose_tower(this)">选择 +</a>
                                                {/if}
                                                <!-- <?php if ($v['mode'] !== null): ?>
                                                    <select class="select" name="towerMode[]">
                                                        <option value="null"<?php if ($v['mode'] === 'null') echo 'selected'; ?>>未选择</option>
                                                        <option value="1"<?php if ($v['mode'] === '1') echo 'selected'; ?>>1</option>
                                                        <option value="2"<?php if ($v['mode'] === '2') echo 'selected'; ?>>2</option>
                                                        <option value="3"<?php if ($v['mode'] === '3') echo 'selected'; ?>>3</option>
                                                    </select>
                                                    <?php if ($v['mode'] === '3'): ?>
                                                        <input type="text" name="towerHeight[]" placeholder="填写高度" value="">
                                                    <?php endif; ?>
                                                <?php endif;?> -->
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>

                        </td>
                        <td style="vertical-align: top;">
                            <div class="table-td" style="overflow-y:auto;">
                                <table class="table choosed_tower">
                                    <tr>
                                        <th>杆塔序号</th>
                                        <th>杆塔名称</th>
                                        <!-- <th>杆塔形状</th> -->
                                        <th>&nbsp;&nbsp;&nbsp;操作</th>
                                    </tr>
                                    {foreach name='towers' item='v' key='k' }
                                        <tr class="tr{$v['towerID']} line{$v.lineID} tower_con" data-id="{$v['towerID']}" data-line="{$v.lineID}">
                                            <td>{$v['towerNumber']}</td>
                                            <td>{$v['towerName']}</td>
                                            <td>
                                                <input type="hidden" value="{$v['towerID']}" name="towerID[]" />
                                                {if $data.submissionID === null}
                                                    <a href="javascript:void(0);" class="btn " onclick="del_tower(this)">取消 -</a>
                                                {/if}
                                            </td>
                                        </tr>
                                        <!-- {if $k + 1 < count($towers)} -->
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                                <div class="row cl">
                                                    <div class="formControls col-xs-8">
                                                        <select class="select flight_type" id="{$v['towerID']}" size="1" name="mode[]">
                                                            {foreach name='towerStatus' item='status'}
                                                                <option value="{$status.id}" {if $status['id'] == $v['mode']}selected{/if}>{$status.name}</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row cl" style="{if $v['mode'] != 1 && $v['mode'] != 3}display:none;{/if}">
                                                    <div class="formControls col-xs-8">
                                                        <input type="text" class="input-text" value="{$v.height}" autocomplete="off" placeholder="填写高度" name="height[]">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- {/if} -->
                                    {/foreach}
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <?php endif;?>
            </div>
        </div>
    </div>
</form>

{include file='public/footer' /}
<script>
    const policySelect = document.getElementById("policySelect");
    const additionalRow = document.getElementById("additionalRow");
    const additionalLabel = document.getElementById("additionalLabel");
    const additionalInput = document.getElementById("additionalInput");

    const longtitude= document.getElementById("longtitude");
    const longtitudeLabel = document.getElementById("longtitudeLabel");
    const longtitudeInput = document.getElementById("longtitudeInput");

    const latitude= document.getElementById("latitude");
    const latitudeLabel = document.getElementById("latitudeLabel");
    const latitudeInput = document.getElementById("latitudeInput");

    const altitude = document.getElementById("altitude");
    const altitudeLabel = document.getElementById("altitudeLabel");
    const altitudeInput = document.getElementById("altitudeInput");

    const additionaltr =  document.getElementById("additionaltr");

    function getStatus() {
        const selectedPolicy = policySelect.value;
        console.log('selectedPolicy' , selectedPolicy);
        if (selectedPolicy === "1") {
            additionalLabel.textContent = "返航高度";
            additionalInput.placeholder = "请输入返航高度";
            const returnAltitude = "<?php echo $data[returnAltitude]; ?>";
            additionalInput.value = returnAltitude;
            additionalRow.style.display = "block";
            longtitude.style.display = "none";
            latitude.style.display = "none";
            altitude.style.display = "none";
        } else if (selectedPolicy === "2") {
     
            longtitudeLabel.textContent = "坐标纬度:";
            longtitudeInput.placeholder ="请输入坐标纬度";
            const landingLongtitude = "<?php echo $data[landingLongtitude]; ?>";
            longtitudeInput.value = landingLongtitude;

            latitudeLabel.textContent = "坐标经度:";
            latitudeInput.placeholder ="请输入坐标经度";
            const landingLatitude = "<?php echo $data[landingLatitude]; ?>";
            latitudeInput.value = landingLatitude;
            
            altitudeLabel.textContent = "提升高度:";
            altitudeInput.placeholder ="请输入提升高度";
            const landingAltitude = "<?php echo $data[landingAltitude]; ?>";
            altitudeInput.value = landingAltitude;

            longtitude.style.display = "table-cell";
            latitude.style.display = "table-cell";
            altitude.style.display = "table-cell";
            additionalRow.style.display = "none";
        } else {
            additionalRow.style.display = "none";
            longtitude.style.display = "none";
            latitude.style.display = "none";
            altitude.style.display = "none";
        }
    }

    getStatus();
    policySelect.addEventListener("change", function() {
        getStatus();
    });

    $(function(){
        // 动态获取元素高度
        var h = $('.big-border').height()
        $('.table-td').css('height',(h - 115) +'px')

        $(window).resize(function () {
            var h = $('.big-border').height()
            $('.table-td').css('height',(h - 115) +'px')
        });
    })
    
    // flight_type();

    function flight_type(){
        console.log("flight_type");
        $('select.flight_type').each(function(){
            var flight_type=generate_rand_num(1,3);
            //var mode = generate_rand_num(1,3);
            $(this).val(flight_type);
            //$(this).val(mode);
            show_height($(this));
        })
    }

    $('select.flight_type').on('change',function(){
        console.log("select.flight_type on change ");
        show_height($(this));
    })

    // var flightTypeValues = [];
    function show_height(obj, tower_id){
        console.log("show_height");

        var flight_type = obj.val();
        console.log("obj:" , obj);
        console.log("flight_type in show_height:" , flight_type);

        if (flight_type == 3) {
            console.log("==== height info ====");
            obj.closest('td').next('td').find('.row').show();
            // 设置默认值为 120
            
           var value =  obj.closest('td').next('td').find('input[name="height[]"]').val();
           if(value == ''|| value == 0 || value == 60){
                console.log("value is null");
                obj.closest('td').next('td').find('input[name="height[]"]').val(120);
           }
           console.log("value :" , value);
        } else if (flight_type == 1) {
            console.log("flight type == 1")
            obj.closest('td').next('td').find('.row').show();
            var value =  obj.closest('td').next('td').find('input[name="height[]"]').val();
            console.log("value", value);
            if(value == ''|| value == 0 || value == 120){  
                console.log("value is null");
                obj.closest('td').next('td').find('input[name="height[]"]').val(60);
            }
      

        } else{
            obj.closest('td').next('td').find('.row').hide();
        }

        /* orgin code for mode 
         if(flight_type==3){
            console.log("==== height info ====");
            obj.closest('td').next('td').find('.row').show();
            // var hiddenInput = document.getElementById('height_input_' + tower_id);
            // var height = hiddenInput.value;
        }else{
            obj.closest('td').next('td').find('.row').hide();
        }*/

        var hiddenInput = document.getElementById('hidden_input_' + tower_id);
        ////var hiddenInput = obj.closest('tr').find('input[name="mode[]"]');
        console.log("hiddenInput:" , hiddenInput);
        if(hiddenInput != null)
        {
            hiddenInput.value = flight_type;
        }
        // hiddenInput.value()
      
    }

    //生成min_v到max_v之间的随机数
    function generate_rand_num(min_v, max_v) {
        //min_v下限，max_v上限
        var rand_num = parseInt(Math.random() * (max_v - min_v + 1) + min_v);
        console.log(rand_num);
        return rand_num
    }

    $('.linelist input[type=checkbox]').on('click',function(){
        var lineID=$(this).attr('value');
        var count=$('.towerlist').find('tr').length - 1;
        console.log("lineID ::: ", lineID);
        console.log("count ::: ", count)
        console.log("=== checkbox ===")
        var submissionID = $('input[name="submissionID"]').val(); 
        console.log("submissionID ::: ", submissionID);
        if($(this).is(':checked')){
            $.ajax({
                type: "POST",
                url: "{:url('get_tower')}",
                data: {lineID:lineID,count:count},
                dataType: "json",
                error: function () {
                    layer.closeAll();
                    layer.alert("网络错误，请刷新重试!");
                },
                success: function (data) {
                    layer.closeAll();
                    if(data.status==1 && data.data.length>0){
                        $('.towerlist').append(data.data.html);
                    }
                }
            });
        }else{
            $('.towerlist .line'+lineID).remove();
            $('.choosed_tower .line'+lineID).remove();
        }
    })


    function del_tower(_this) {
        var towerRow = $(_this).closest('tr');
        console.log("towerRow " , towerRow);
        var towerID = towerRow.data('id');
        console.log("towerID " , towerID);
        var deletedTowerNumber = parseInt(towerRow.find('td:first').text(), 10);
        console.log("deletedTowerNumber " , deletedTowerNumber);
        var selectElementToDelete =  document.getElementById(towerID);
        console.log("selectElementToDelete " , selectElementToDelete);
        if(selectElementToDelete)
        {
            selectElementToDelete.parentNode.removeChild(selectElementToDelete);
        }
    
        var allRowsWithSameID = $('.towerlist .tr' + towerID);
        var flightTypeRows = $('.flight_type');
            flightTypeRows.each(function () {
            if ($(this).hasClass(towerID)) {
                $(this).remove();
            }
        });
        // 删除当前杆塔行
        towerRow.remove();
        //恢复被取消选择的杆塔的按钮状态
        var allTowerRows = $('.choosed_tower').find('.tower_con');
        allTowerRows.each(function() {
            var towerNumber = parseInt($(this).find('td:first').text(), 10);
            console.log("towerNumber " , towerNumber);
            if (towerNumber > deletedTowerNumber) {
            // 递减序号
                $(this).find('td:first').text(towerNumber - 1);
            }
        });

        allRowsWithSameID.find('a.btn').removeClass('disabled').text('选择 +');
        layer.closeAll();
    }
 
    function choose_tower(_this){
        if($(_this).hasClass('disabled')){
            return false;
        }
        var tr=$(_this).closest('tr');
        var lineID = tr.data('line');
        var tower_id = tr.data('id');
        console.log("tower_id :" ,tower_id);

        var length=$('.choosed_tower').find('tr').length - 1;

        var tower_number = parseInt(tr.find('td').eq(0).text()); 
        var chosenTowers = $('.choosed_tower').find('.tower_con');
        var numberOftowers = chosenTowers.length;
        console.log("numberOftowers :" , chosenTowers);
        console.log("xxxx :" , tr.find('td').eq(1).text());
        console.log("length+1 :" , length+1);
        console.log("chosenTowers :" , chosenTowers);
        console.log("tower_number :" , tower_number);
        // var flight_type = 0;
        // var hiddenInput = '<input type="hidden" name="mode[]" value="' + flight_type + '" />';
        // $('.choosed_tower').append(hiddenInput);

        var html= '<tr class="tr'+tower_id+' line'+lineID+ ' tower_number' + tower_number+' tower_con" data-id='+tower_id+' ><td>'+(numberOftowers + 1)+'</td><td>'+(tr.find('td').eq(1).text())+'</td><td><input type="hidden" value="'+tower_id+'" name="towerID[]" /><a href="javascript:void(0);" class="btn" onclick="del_tower(this)">取消 -</a></td></tr>';
        tr.find('a.btn').addClass('disabled').text('已选');

        var flight_type = tr.find('select.flight_type').val();
        console.log("flight_type :" , flight_type); 
        console.log("chosenTowers.length > 0 " , chosenTowers.length);
        if (chosenTowers.length > 0) {
        
            add_flight_type(tower_id,flight_type);
            /* orgin code for mode 
            console.log("chosenTowers.length > 0 " );
            var prevTower = chosenTowers.last(); // 获取最后一个已选择的塔
            console.log("prevTower" , prevTower);
            var prevTowerElement = prevTower[0];
            console.log("prevTowerElement" , prevTowerElement);
            var prevLineClass = prevTowerElement.getAttribute('class');
            var match = prevLineClass.match(/tr(\d+).line(\d+).tower_number(\d+).tower_con/);
            if (match) {
                var prevLineID = match[2]; 
                var prevTowerNumber = match[3]; 
            } else {
                console.log('未找到匹配的数字');
            }
           // var prevTowerNumber = prevTower.find('td').eq(0).text();
            console.log("tower_number" , tower_number);
            console.log("prevTowerNumber" , prevTowerNumber);
            console.log("lineID" , lineID);
            console.log("prevLineID" , prevLineID);
            console.log("diff1 : " , Math.abs(tower_number - prevTowerNumber));
            console.log("diff2 : " , lineID !== prevLineID);
            // 如果塔的序号不相邻且不属于同一线路，执行add_flight_type
            if ((Math.abs(tower_number - prevTowerNumber) > 1) || (parseInt(lineID) !== parseInt(prevLineID))) {
                console.log("diff");
                // add_flight_type(mode);
                add_flight_type(tower_id,flight_type);
            }*/
        }
        // html += '';
        $('.choosed_tower').append(html);

    }

    function add_flight_type(tower_id,flight_type){
        console.log("==== add flight ==== ")
        // var html='<tr class="flight_type '+ tower_id + '"> <td></td> <td> <div class="row cl"> <div class="formControls col-xs-8"> <select class="select flight_type" size="1" name="" onchange="show_height($(this) , '+ tower_id +')"> <option value="1" '+ (flight_type==1?'selected':'') +'>直飞</option> <option value="2" '+ (flight_type==2?'selected':'') +'>按线路飞</option> <option value="3" '+ (flight_type==3?'selected':'') +'>提升高度</option> </select> </div> </div> </td> <td> <div class="row cl '+ (flight_type!=3?'hide':'') +'"> <div class="formControls col-xs-8"> <input type="text" class="input-text" autocomplete="off" placeholder="填写高度" name="height[]" value=""> </div> </div> </td> <td></td> </tr>';
        var html='<tr class="flight_type '+ tower_id + '"> <td></td> <td> <div class="row cl"> <div class="formControls col-xs-8"> <select class="select flight_type" size="1" name="" onchange="show_height($(this) , '+ tower_id +')"> <option value="0" '+ (flight_type==0?'selected':'') +'>无交跨</option> <option value="1" '+ (flight_type==1?'selected':'') +'>有交跨</option> <option value="3" '+ (flight_type==3?'selected':'') +'>未知</option> </select> </div> </div> </td> <td> <div class="row cl '+ (flight_type!=3?'hide':'') +'"> <div class="formControls col-xs-8"> <input type="text" class="input-text" autocomplete="off" placeholder="填写高度" name="height[]" value=""> </div> </div> </td> <td></td> </tr>';
        flight_type = 0;
        console.log("flight_type in add_flight_type:" , flight_type);
        height = 0;
        console.log("height in add_flight_type:" , height);
        // var flight_type = this.tr.find('select.flight_type').val();
        // console.log("flight_type :" , flight_type);
        var hiddenInput = '<input type="hidden" name="mode[]" id= "hidden_input_'+tower_id+'" value="'+ flight_type + '" />';
        //var heightInput = '<input type="hidden" name="height[]" id= "height_input_'+tower_id+'" value="'+ height + '" />';
        $('.choosed_tower').append(html + hiddenInput );
    }

    function redirectToSetReturn() {
        var curr_url = window.location.href;
        var regex = /\/id\/(\d+)/;
        var match = curr_url.match(regex);
        var id = '';
        if(match) {
            id = match[1];
        }else {
            id = '';
        }
        var data = {
            submissionID: id,
            droneID: ''
        };


        // 构建 URL
        var url = "{:url('index/set_return')}?submissionID=" + id + "&droneID=" +1;

        // 跳转至 set_return 页面
        window.location.href = url;

        // $.ajax({
        //     url: 'set_return', // 替换为实际的服务器端接口地址
        //     method: 'POST',
        //     data: data,
        //     success: function(response) {
        //         console.log("success");
        //         // console.log("response.submissionName : ", response.data.submissionName);
        //         // 获取到 submissionName
        //         var submissionName = response.submissionName;

        //         console.log("submissionName",submissionName);
        //         // 将 submissionName 设置为 input 元素的值
        //         $('input[name="submissionName"]').val(submissionName);
        //         window.location.href = 'set_return';
        //     },
        //     error: function() {
        //         console.log('Error occurred while fetching submissionName');
        //     }
        // });

    }

</script>

<script>
    function validateForm() {
        console.log("validateForm");
        var missionTypeSelect = document.getElementById("missionTypeSelect").value;
        var altitudeInput = document.getElementById("altitudeInput").value;
        var latitudeInput = document.getElementById("latitudeInput").value;
        var longtitudeInput = document.getElementById("longtitudeInput").value;
        var flightHeight =  document.getElementById("flightHeight").value;
        var additionalInput = document.getElementById("additionalInput").value;

        console.log("altitudeInput:",altitudeInput);
        console.log("latitudeInput:",latitudeInput);
        console.log("longtitudeInput:",longtitudeInput);
        console.log("additionalInput:",additionalInput);
        console.log("flightHeight:",flightHeight);
        if(missionTypeSelect == "3"){
            return true;
        }
        else {
            if(flightHeight == ""){
                layer.msg("未填写起飞高度，要求起飞高度>5",{time:1000});
                return false;
            }else {
                var additionalPattern = /^\d+$/;
                if (!additionalPattern.test(flightHeight) || flightHeight < 5 ){
                    layer.msg("返航高度必须为整数，且需>5。",{time:1000});
                    return false;
                }
            }
            if((altitudeInput == "" && latitudeInput == "" && longtitudeInput == "") && (additionalInput == ""))
            {
                //layer.msg("保存失败，信息不完全",{time:1000});
                //return false;
            } else if (additionalInput != ""){
                console.log("validate additionalInput ");
                var additionalPattern = /^\d+$/;
                if (!additionalPattern.test(additionalInput) || additionalInput < 0 || additionalInput > 250) {
                    layer.msg("返航高度必须为整数，范围在 0 到 250 之间。",{time:1000});
                    return false;
                }
            } else {
                console.log("validate altitudePattern,latitudePattern,longitudePattern ");
                var altitudePattern = /^\d+$/;
                var latitudePattern = /^-?\d{1,3}(?:\.\d{0,10}[1-9]\d*)$/;
                var longitudePattern = /^-?\d{1,3}(?:\.\d{0,10}[1-9]\d*)$/;
                if (!longitudePattern.test(longtitudeInput) || longtitudeInput < 3.86 || longtitudeInput > 53.56) {
                    layer.msg("纬度必须为小数点后 10 位的数，范围在 3.86 到 53.56 之间。",{time:1000});
                    return false;
                }
                if (!latitudePattern.test(latitudeInput) || latitudeInput < 73.66 || latitudeInput > 135.05) {

                    layer.msg("经度必须为小数点后 10 位的数，范围在 73.66 到 135.05 之间。",{time:1000});
                    return false;
                }
                if (!altitudePattern.test(altitudeInput) || altitudeInput < 0 || altitudeInput > 250) {
                    layer.msg("提升高度必须为整数，范围在 0 到 250 之间。",{time:1000});
                    return false;
                }
            }
        }
        return true;
    }
</script>

<script>
    var submitButton = document.getElementById("submitAndValidate");

    if(submitButton){
        submitButton.addEventListener("click",function(event){
            console.log("click submitButton");
            if(validateForm(this)){
                console.log("validate");
                submit_form(this);
            }else{
                console.log("not validate");
            }
            event.preventDefault();
        });
    }
</script>
<script>
// 获取文件输入元素和文件列表
// const directoryInput = document.getElementById('directory-input');
// const fileList = document.getElementById('file-list');

// // 添加点击事件监听器
// document.getElementById('process').addEventListener('click', function () {
//     directoryInput.click();
// });

// // 添加文件输入变化事件监听器
// directoryInput.addEventListener('change', function (e) {
//     const files = e.target.files;
//     fileList.innerHTML = ''; // 清空文件列表
//     const fileArray = [];
//     const validFiles = [];
//     var obj=$(this);
//     var id=obj.data('id');
//     console.log("id : " , id);
//     $.ajax({
//                 type: "POST",
//                 url: "{:url('gettaskdetail')}",
//                 data: {id:id},
//                 dataType: "json",
//                 error: function () {
//                     layer.closeAll();
//                     layer.alert("网络错误，请刷新重试!");
//                 },
//                 success: function (data) {
//                     console.log("data : " , data);
//                     var e_time = data.data.excuteDate;
//                     var f_time = data.data.planDate;
//                     console.log("e_time" , e_time);
//                     console.log("f_time" , f_time);
//                     e_time = new Date(data.data.excuteDate);
//                     f_time = new Date(data.data.planDate);
//                     console.log("e_time" , e_time);
//                     console.log("f_time" , f_time);
                    
//                     // 遍历目录中的文件
//                     for (let i = 0; i < files.length; i++) {
//                         const file = files[i];
//                         console.log("file : " , file);

//                         const li = document.createElement('li');
//                         li.textContent = `文件名: ${file.name}`;
//                         if(i === 0){
//                             console.log(" == rename ==");
//                             // var file1 = new File("./loc_file/1.txt");

//                             // var newFile = new File("./loc_file/new.txt");

//                             // if (file1.renameTo(newFile)) {
//                             //     console.log("文件重命名成功");
//                             // } else {
//                             //     console.log("文件重命名失败");
//                             // }

//                             let fileEntry =  files[i];
//                             let old_name = fileEntry.name;
//                             console.log("old_name " , old_name);
//                             let new_name = "new.txt";
//                             fileEntry.renameTo(new_name,function(){
//                                 console.log("success");
//                             });
//                         }
                       

//                         // if(file.name > e_time || file.name < f_time){
//                         // }
//                         console.log( " li.textContent : " , li.textContent );
//                         fileList.appendChild(li);

//                         if(file.name.endsWith('W.JPG')){
//                             fileArray.push(file.name);
//                             const timePart = file.name.substring(4,18);
//                             const fileTime = new Date(timePart.replace(/(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})/, '$1-$2-$3 $4:$5:$6'));
//                             console.log("fileTime : " , fileTime);
//                             if (fileTime >= e_time && fileTime <= f_time) {
//                                 validFiles.push(file.name); 
//                             }
//                         }
//                     }
//                     console.log("fileArray : ", fileArray);
//                     console.log("validFiles : ", validFiles);
//                 }
//             });
    
// });
</script>
<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
    // 获取 "文件处理" 按钮元素
    const processButton = document.getElementById('process');

    // 添加点击事件监听器
    processButton.addEventListener('click', function(e) {
      e.preventDefault(); // 阻止默认的链接跳转行为

      // 创建一个隐藏的文件上传 input 元素
      const fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.accept = 'image/*'; // 仅允许选择图片文件
      fileInput.multiple = tr ue; // 允许多选

      // 添加 change 事件监听器
      fileInput.addEventListener('change', function(event) {
        const files = event.target.files;
        if (files.length > 0) {
          // 处理所选文件
          copyAndProcessImages(files);
        }
      });

      // 模拟点击文件上传 input 元素
      fileInput.click();
    });

   
    function copyAndProcessImages() {
        console.log("copyAndProcessImages");
        const fileInput = document.getElementById('fileInput'); // 获取文件上传输入框
        const highDefinitionFolder = 'highdefinition'; // 高清图片目录
        const thumbnailFolder = 'thumbnail'; // 缩略图目录

        fileInput.addEventListener('change', function (event) {
            const files = event.target.files;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = new Image();
                    img.src = e.target.result;

                    // 创建缩略图
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');
                    canvas.width = 320;
                    canvas.height = (320 * img.height) / img.width;
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                    // 保存高清图
                    const highDefImgData = canvas.toDataURL('image/jpeg', 1.0);
                    const highDefFileName = `${highDefinitionFolder}/${file.name}`;
                    saveImage(highDefFileName, highDefImgData);

                    // 保存缩略图
                    const thumbnailImgData = canvas.toDataURL('image/jpeg', 0.7);
                    const thumbnailFileName = `${thumbnailFolder}/${file.name}`;
                    saveImage(thumbnailFileName, thumbnailImgData);
                };

                reader.readAsDataURL(file);
            }
        
        });
    }

    function saveImage(fileName, imageData) {
        // 这里模拟保存图片，你可以使用自己的保存逻辑，如上传到服务器或保存在本地存储。
        console.log(`Saving image as ${fileName}`);
        console.log(`Image data: ${imageData}`);
    }
  });
</script> -->
<!-- <script>
    $('.processPicture').on('click',function(e){
        var obj=$(this);
        layer.confirm('是否打包图片',function(){
         copyAndProcessImages();
        });
    });


    function copyAndProcessImages() {
        console.log("copyAndProcessImages");
        const fileInput = document.getElementById('fileInput'); // 获取文件上传输入框
        const highDefinitionFolder = 'highdefinition'; // 高清图片目录
        const thumbnailFolder = 'thumbnail'; // 缩略图目录

        fileInput.addEventListener('change', function (event) {
            const files = event.target.files;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = new Image();
                    img.src = e.target.result;

                    // 创建缩略图
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');
                    canvas.width = 320;
                    canvas.height = (320 * img.height) / img.width;
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                    // 保存高清图
                    const highDefImgData = canvas.toDataURL('image/jpeg', 1.0);
                    const highDefFileName = `${highDefinitionFolder}/${file.name}`;
                    saveImage(highDefFileName, highDefImgData);

                    // 保存缩略图
                    const thumbnailImgData = canvas.toDataURL('image/jpeg', 0.7);
                    const thumbnailFileName = `${thumbnailFolder}/${file.name}`;
                    saveImage(thumbnailFileName, thumbnailImgData);
                };

                reader.readAsDataURL(file);
            }
        
        });
    }

    function saveImage(fileName, imageData) {
        // 这里模拟保存图片，你可以使用自己的保存逻辑，如上传到服务器或保存在本地存储。
        console.log(`Saving image as ${fileName}`);
        console.log(`Image data: ${imageData}`);
    }


</script> -->

<script>
    $('.del_task').on('click',function(e){
        var back_url=$(this).closest('form').data('back');
        console.log("back_url :" ,back_url);
        e.preventDefault();
        e.stopPropagation();
        var obj=$(this);
        layer.confirm('确认删除该任务？',function(){
            var id=obj.data('id');
            console.log("id :" , id);
            $.ajax({
                type: "POST",
                url: "{:url('del_task')}",
                data: {id:id},
                dataType: "json",
                error: function () {
                    layer.closeAll();
                    layer.alert("网络错误，请刷新重试!");
                },
                success: function (data) {
                    console.log(data)
                    layer.closeAll();
                    layer.msg(data.msg,{time:1500},function(){
                        if(data.status===1){
                            location.href=back_url;
                            console.log(back_url);
                        }
                    });
                }
            });

        })
    })
</script>


<script>
    var flightHeightRow = document.getElementById('flightHeightRow');
    var policySelectRow = document.getElementById('policySelectRow');


    var inputAltitudeRow = document.getElementById('inputAltitudeRow');
    var inputLongitudeRow = document.getElementById('inputLongitudeRow');
    var inputlatitudeRow = document.getElementById('inputlatitudeRow');


    // 获取任务类型的<select>元素
    const missionTypeSelect = document.getElementById("missionTypeSelect");
    const missionType = missionTypeSelect.value;
    console.log("missionType : " ,missionType);
    // if(missionType == "5"){
    //     flightHeightRow.style.display = "none";
    //     policySelectRow.style.display = "none";
    // }

    if(missionType == "3" ){
    
        flightHeightRow.style.display = "none";
        policySelectRow.style.display = "none";
    }


    var permissionID = <?php echo json_encode($permission['permissionGroupID']); ?>;
    console.log("missionID from PHP: ", permissionID);
   
    if(missionType == "4" && permissionID == 0){
        console.log("permissionGroup ID" , permissionID);

        inputAltitudeRow.style.display = "table-cell";
        inputLongitudeRow.style.display = "table-cell";
        inputlatitudeRow.style.display = "table-cell";
    } else if( permissionID != 0){

        inputAltitudeRow.style.display = "none";
        inputLongitudeRow.style.display = "none";
        inputlatitudeRow.style.display = "none";
    }

    // if(missionType == "5" ){
    //     inputAltitudeRow.style.display = "none";
    //     inputLongitudeRow.style.display = "none";
    //     inputlatitudeRow.style.display = "none";
    // }



    //添加change事件监听器
    missionTypeSelect.addEventListener('change', function () {
    // 获取选中的任务类型值
        var selectedMissionType = missionTypeSelect.value;
        console.log("selectedMissionType : " ,selectedMissionType);
        // 获取与返航策略相关的行和起飞高度相关的行
        var policyRow = document.getElementById('additionalRow');
        var flightHeightRow = document.getElementById('flightHeightRow');
        

        var inputAltitudeRow = document.getElementById('inputAltitudeRow');
        var inputLongitudeRow = document.getElementById('inputLongitudeRow');
        var inputlatitudeRow = document.getElementById('inputlatitudeRow');

        var permissionID = <?php echo json_encode($permission['permissionGroupID']); ?>;
        // 根据任务类型值判断是否隐藏/显示相关行
        if (selectedMissionType === '4' ) {
            console.log("get point");
            flightHeightRow.style.display = "table-cell";
            policySelectRow.style.display = "table-cell";

            if(permissionID == 0){
                console.log("permissionGroup ID" , permissionID);
                inputAltitudeRow.style.display = "table-cell";
                inputLongitudeRow.style.display = "table-cell";
                inputlatitudeRow.style.display = "table-cell";
            }
            //flightHeightRow.style.display = 'none'; // 隐藏起飞高度行
        } else if (selectedMissionType === '3'){
            flightHeightRow.style.display = "none";
            policySelectRow.style.display = "none";
            longtitude.style.display = "none";
            latitude.style.display = "none";
            altitude.style.display = "none";

            inputAltitudeRow.style.display = "none";
            inputLongitudeRow.style.display = "none";
            inputlatitudeRow.style.display = "none";

            //flightHeightRow.style.display = 'table-row'; // 显示起飞高度行
        } 
    });
</script>
<script>
    function toggleZoom(imageId) {
        var image = document.getElementById(imageId);
        console.log("image : ", image);
        console.log("imageId ：", imageId);
        var zoomImage = document.getElementById('zoom' + imageId);
        console.log("zoomImage : ", zoomImage);
        zoomImage.style.display = zoomImage.style.display === 'block' ? 'none' : 'block';
    }


    function showZoom(containerId) {
        var overlay = document.getElementById(containerId);
        overlay.style.display = 'block';
    }

    function hideZoom(containerId) {
        var overlay = document.getElementById(containerId);
        overlay.style.display = 'none';
    }
</script>


<script>
    <?php if($my_permission['addTask']<=0 && $my_permission['modifyTask']<=0):?>
    $(function(){
        $('input,select').prop('disabled',true).prop('readonly',true);
    })
    <?php endif;?>
</script>