{include file='public/header' /}
<style>
    .a-1 {
        padding: 30px;
        padding-top: 0;
    }

    #add_route_form .input-text,
    #add_route_form .select {
        width: 250px
    }

    #add_route_form {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
    }

    #add_route_form .input-con {
        display: inline-block;
        width: 330px;
        height: 100px;
        vertical-align: middle;
        position: relative;
        top: calc(50% - 50px);
    }

    .row label,
    .row select {
        font-size: 16px;
    }

    .layui-layer-content {
        border-bottom: none;
    }

    .layui-layer-btn {
        border: none;
    }

    .layui-layer {
        height: auto !important;
        border: 1px solid rgb(114, 100, 100) !important;
    }
</style>
<form id="line_form" action="{:url('index/add_line')}" data-back="{:url('index/basic_list')}"
    style="display:block;width:100%;height:100%;">
    <div class="a-2 a-2-1">
        <div class="text-c a-4" style="">{$title}</div>
        <div class="a-5 text-r top_btn">
            <div class="a-12">
                <a href="{:url('index/basic_list')}">返回</a>
            </div>
            <div class="a-6-box">
                {if $data.lineID !== null}
                <a href="javascript:void(0);" class="import_btn" onclick="selectFileType()">文件导入</a>
                <a class="del_line" href="javascript:void(0);" data-id="{$data.lineID}" id=delete>删除</a>
                {/if}
            </div>
            <div class="a-6-box">
                <a class="add_btn" href="javascript:void(0);" onclick="submit_form(this)">完成</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!-- 内容 -->
    <div class="a-15">
        <div class="big-border"
            style="background:url(/static/index/img/electric.png) no-repeat center;background-size:100% 100%;">
            <div id="add_route_form" style="text-align:center;">
                <input type="hidden" name="lineID" value="{$data.lineID|default=-1}" />
                <div class="input-con">
                    <div class="row cl" style="margin-bottom:20px;">
                        <label class="form-label col-xs-4 table_title">线路名称：</label>
                        <div class="formControls col-xs-8">
                            <input type="text" class="input-text" autocomplete="off" placeholder="" name="lineName"
                                value="{$data.lineName}">
                        </div>
                    </div>

                    <div class="row cl" style="margin-bottom:20px;">
                        <label class="form-label col-xs-4 table_title">巡检单位：</label>
                        <div class="formControls col-xs-8">
                            <?php if($permission['permissionGroupID'] == 0): ?>
                            <select class="select" size="1" name="companyID">
                                {foreach name='companys' item='v'}
                                <option value="{$v.companyID}" <?php if($v['companyID']==$data['companyID'])
                                    echo 'selected' ; ?>>{$v.companyName}</option>
                                {/foreach}
                            </select>
                            <?php else: ?>
                            <select class="select" size="1" name="companyID" disabled>
                                <option value="{$permission.companyID}" <?php
                                    if($permission['companyID']==$data['companyID']) echo 'selected' ; ?>
                                    >{$permission.companyName}</option>
                            </select>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

{include file='public/footer' /}
<script>
    $(function () {
        // 动态获取元素高度
        var h = $('.big-border').height()
        $('.table-td').css('height', (h - 115) + 'px')

        $(window).resize(function () {
            var h = $('.big-border').height()
            $('.table-td').css('height', (h - 115) + 'px')
        });
    })

    function selectFileType() {
        layui.use(['layer'], function () {
            var layer = layui.layer;

            layer.open({
                type: 1,
                title: '选择文件类型',
                closeBtn: 1,
                shadeClose: false,
                content: `
                    <div style="padding: 20px; text-align: center;">
                    <button class="layui-btn" id="selectCSV">CSV 文件</button>
                    <button class="layui-btn" id="selectKML">KMZ 文件</button>
                    </div>
                    `,
                area: ['300px', '200px'],
                success: function (layero) {
                    layero.find('#selectCSV').on('click', function () {
                        layer.closeAll();
                        showInputDialog('csv');
                    });
                    layero.find('#selectKML').on('click', function () {
                        layer.closeAll();
                        showInputDialog('kml');
                    });
                }
            });
        });
    }


    function showInputDialog(fileType) {
        console.log("showInputDialog1");

        layui.use(['upload', 'layer'], function () {
            var selectedTowerType;
            var zoomFactor;
            var upload = layui.upload;
            var layer = layui.layer;
            var content = '';
            var title = '<div class="custom-title" style="font-size: 18px;text-align: center; " >设置杆塔属性</div>';
            if (fileType === 'csv') {
                content = `
                    <div style="padding: 30px;">
                        <input type="file" id="fileInput" name="file" style="display: none;">
                        <div style="text-align: left;">
                            <input type="hidden" name="lineID" value="{$data.lineID|default=-1}" />
                            <div style="margin-top: 20px;">
                                <label style="display: inline-block; width: 140px; font-size: 18px;">杆塔类型：</label>
                                <select size="1"  style="width:163px; height:38px; font-size: 18px;" name="towerShapeNameID" id="towerType">
                                    {foreach name='towerType' item='v'}
                                        <option value="{$v.towerShapeNameID}" <?php if($v['towerShapeNameID']==$data['towerShapeNameID']) echo 'selected';?>>{$v.towerShapeName}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div style="margin-top: 20px;">
                                <label style="display: inline-block; width: 140px; font-size: 18px;">初始倍率：</label>
                                <input type="text"  style="width:163px; height:38px; font-size: 18px;" id="zoomFactor" autocomplete="off" placeholder="" name="insulatorNum" value="{$data.insulatorNum}">
                            </div>
                        </div>
                    </div>`
            } else if (fileType === 'kml') {
                content = `  
                <div>
                    <input type="file" id="fileInput" name="file" style="display: none;">
                    <div id="set_tower_type_form" style="text-align: left; padding: 30px;">
                        <input type="hidden" name="lineID" value="{$data.lineID|default=-1}" />

                        <div style="margin-bottom: 20px;">
                            <label style="display: inline-block; width: 140px; font-size: 18px;">航线类型：</label>
                            <select size="1" style="width:163px; height:38px; font-size: 18px;" name="towerShapeNameID" id="towerType">
                                {foreach name='towerType' item='v'}
                                <option value="{$v.towerShapeNameID}" <?php if($v['towerShapeNameID']==$data['towerShapeNameID']) echo 'selected';?>>{$v.towerShapeName}</option>
                                {/foreach}
                            </select>
                        </div>

                        <div style="margin-bottom: 20px;">
                            <label style="display: inline-block; width: 140px; font-size: 18px;">批量杆塔名称：</label>
                            <input type="text"  style="width:160px; height:33px; font-size: 18px;" id="towerName" autocomplete="off" placeholder="" name="towerName" value="{$data.towerName}">
                        </div>

                        <div style="margin-bottom: 20px;">
                            <label style="display: inline-block; width: 140px; font-size: 18px;">杆塔起始序号：</label>
                            <input type="text"  style="width:160px; height:33px; font-size: 18px;" id="towerSquence" autocomplete="off" placeholder="" name="towerSquence" value="{$data.towerSquence}">
                        </div>

                        <div style="margin-bottom: 20px;">
                            <label style="display: inline-block; width: 140px; font-size: 18px;">打点高度：</label>
                            <input type="text" style="width:160px; height:33px; font-size: 18px;" id="towerHeight" autocomplete="off" placeholder="" name="towerHeight" value="{$data.towerHeight}">
                        </div>

                    </div>
                </div>`
            }
            layer.ready(function () {
                layer.open({
                    type: 1,
                    title: title,
                    closeBtn: 0,
                    shadeClose: false, // 防止点击遮罩层关闭对话框
                    content: content,
                    area: ['30%', '60%'],
                    btn: ['确认', '取消'],
                    success: function (layero) {
                        layero.find('.layui-layer-btn .layui-layer-btn0, .layui-layer-btn .layui-layer-btn1').css({
                            'font-size': '23px'
                            });
                        },
                    yes: function (index,layero) {
                        if (fileType === 'csv') {
                            console.log("点击确认后");
                            selectedTowerType = $('#towerType').val();
                            zoomFactor = $('#zoomFactor').val();
                            if(zoomFactor === '' || selectedTowerType === ''){
                                layer.msg('存在未输入信息', { time: 1500 });
                                return false;
                            }
                            if(isNaN(zoomFactor)){
                                layer.msg('初始倍率必须为数字',{ time: 1500 });
                                return false;
                            }
                            console.log("selectedTowerType:", selectedTowerType);
                            console.log("zoomFactor:", zoomFactor);
                            if (selectedTowerType && zoomFactor) {
                                console.log("==== csv ====");
                                $('#fileInput').click();
                            }
                        }
                        else if (fileType === 'kml') {
                            selectedTowerType = $('#towerType').val();
                            towerName = $('#towerName').val();
                            towerSquence = $('#towerSquence').val();
                            towerHeight = $('#towerHeight').val();

                            console.log("selectedTowerType:", selectedTowerType);
                            console.log("towerName:", towerName);
                            console.log("towerSquence:", towerSquence);
                            console.log("towerHeight:", towerHeight);

                            if(towerHeight === '' || towerSquence ==='' || towerName === '' || selectedTowerType === '' ){
                                layer.msg('存在未输入信息', { time: 1500 });
                                return false;
                            }

                            if(isNaN(towerSquence)){
                                layer.msg('杆塔起始序号必须为数字',{ time: 1500 });
                                return false;
                            }

                            if(isNaN(towerHeight)){
                                layer.msg('打点高度必须为数字',{ time: 1500 });
                                return false;
                            }


                            if (towerName && towerSquence && selectedTowerType) {
                                console.log("==== kml ====");
                                $('#fileInput').click();
                            }
                        }
                        layer.close(index);
                    },
                    cancel: function (index) { }
                });
            });

            console.log("showInputDialog2");
            if (fileType === 'csv') {
                upload.render({
                    elem: '#fileInput',
                    url: "{:url('importLine')}",
                    accept: 'file',
                    exts: 'csv',
                    multiple: false,
                    field: 'file',
                    auto: true,
                    data: {
                        lineID: '{$data.lineID}',
                        towerType: function () {
                            return selectedTowerType;
                        },
                        zoomFactor: function () {
                            return zoomFactor;
                        }
                    },
                    choose: function (obj) {
                        layer.load(1, { shade: [0.5, '#000'] });
                    },
                    progress: function (n, elem, res, index) {
                        layer.load(1, { shade: [0.5, '#000'] });
                    },
                    done: function (res, index, upload) {
                        layer.closeAll();
                        if (res.status === 1) {
                            layer.msg('导入成功', { time: 1500 });
                            $('input[name=location]').val(res.data.loc);
                        } else {
                            layer.alert(res.msg);
                        }
                    },
                    error: function () {
                        layer.closeAll();
                        layer.alert('上传失败，请重试');
                    }
                });
            }
            else if (fileType === 'kml') {
                upload.render({
                    elem: '#fileInput',
                    url: "{:url('importKMLLine')}",
                    accept: 'file',
                    exts: 'kml|kmz',
                    multiple: false,
                    field: 'file',
                    auto: true,
                    data: {
                        lineID: '{$data.lineID}',
                        towerName: function () {
                            return towerName;
                        },
                        towerType: function () {
                            return selectedTowerType;
                        },
                        towerSquence: function () {
                            return towerSquence;
                        },
                        towerHeight: function () {
                            return towerHeight;
                        }
                    },
                    choose: function (obj) {
                        layer.load(1, { shade: [0.5, '#000'] });
                    },
                    progress: function (n, elem, res, index) {
                        layer.load(1, { shade: [0.5, '#000'] });
                    },
                    done: function (res, index, upload) {
                        layer.closeAll();
                        if (res.status === 1) {
                            layer.msg('导入成功', { time: 1500 });
                            $('input[name=location]').val(res.data.loc);
                        } else {
                            layer.alert(res.msg);
                        }
                    },
                    error: function () {
                        layer.closeAll();
                        layer.alert('上传失败，请重试');
                    }
                });
            }
            console.log("showInputDialog4");
        });
    }

</script>

<script>
    $('.del_line').on('click', function (e) {
        var back_url = $(this).closest('form').data('back');
        console.log("back_url :", back_url);
        e.preventDefault();
        e.stopPropagation();
        var obj = $(this);
        layer.confirm('确认删除该任务？', function () {
            var id = obj.data('id');
            console.log("id :", id);
            $.ajax({
                type: "POST",
                url: "{:url('del_line')}",
                data: { id: id },
                dataType: "json",
                error: function () {
                    layer.closeAll();
                    layer.alert("网络错误，请刷新重试!");
                },
                success: function (data) {
                    layer.closeAll();
                    layer.msg(data.msg, { time: 1500 }, function () {
                        if (data.status === 1) {
                            location.href = back_url;
                            console.log(back_url);
                        }
                    });
                }
            });

        })
    })
</script>