{include file='public/header' /}
<style>
    .a-1{padding:30px;padding-top:0;}
    #add_route_form .input-con{position:relative;display:inline-block;vertical-align: middle;top:0;margin-top:50px;margin-bottom:30px;margin-left: 15%;}
    .import_icon{width:25px;height:25px;}
    #add_route_form .import_btn{display:inline-block;width:100px;height:30px;line-height:30px;background:url(/static/index/img/btnUsersubFocus.png) no-repeat center;background-size:100% 100%;color:white;text-align:center;}
    .controls{display:block;width:270px;height:270px;background:url(/static/index/img/circle.png) no-repeat center;background-size:100% 100%;position:absolute;left:5%;top:0;padding:30px;}
    .controls .table td div{width:90px;height:90px;}
    .controls .table td div img{ width:100%;height:100%;background:none !important;}
    .controls .table td div .arrow:hover{cursor:pointer;}
    .controls .table td{padding:0;}
    .big-border{position:relative;text-align:center;}
    #add_route_form{position: relative;display:inline-block;text-align:center;top:calc(50% - 167.5px);width:100%;}
    .row label,.row select{font-size:16px;}
</style>
<form id="tower_form"  action="{:url('index/add_tower')}" data-back="{:url('index/basic_list',['lineID'=>$lineID])}" style="display:block;width:100%;height:100%;">
<div class="a-2 a-2-1">
    <!--            <img class="a-3" src="/static/index/img/top_bg.png" />-->
    <div class="text-c a-4" style="">{$title}</div>
    <div class="a-5 text-r top_btn">
        <div class="a-12">
            <a href="{:url('index/basic_list',['lineID'=>$lineID])}" >返回</a>
        </div>
        <div class="a-6-box">
            <a class="add_btn" href="javascript:void(0);" onclick="setAlt()">高度修正</a>
        </div>
        <div class="a-6-box">
            <a class="add_btn" href="javascript:void(0);" onclick="submit_form(this)">完成</a>
        </div>
        {if $data.towerID !== null}
       <div class="a-6-box">
            <a class="del_tower" href="javascript:void(0);" data-id="{$data.towerID}" id=delete>删除</a>    
        </div>
        {/if}
        <div style="clear:both;"></div>
    </div>
</div>
<!-- 内容 -->
<div class="a-15" >
    <div class="big-border" style="background:url(/static/index/img/electric.png) no-repeat center;background-size:100% 100%;">
        <div id="add_route_form" style="text-align:center;position:relative;" >
            <input type="hidden" name="towerID" value="{$data.towerID|default=-1}" />
            <div class="input-con">
                <table>
                <tr>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">杆塔名称：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" autocomplete="off" placeholder="" name="towerName" value="{$data.towerName}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">杆塔经度：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" id="longitude" autocomplete="off" placeholder="可通过打点任务获取" name="longitude" value="{$data.longitude}" >
                            </div>
                        </div>
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">航线类型：</label>
                            <div class="formControls col-xs-8">
                                <select class="select" size="1" name="towerShapeID">
                                    {foreach name='shapes' item='v'}
                                        <option value="{$v.towerShapeNameID}" <?php if($v['towerShapeNameID']==$data['towerShapeID'])echo ' selected';?>>{$v.towerShapeName}</option>
                                    {/foreach}
                                    <!-- <option value="34" <?php if($data['towerShapeID']==34)echo ' selected';?> data-po="">自定义</option> -->
                                </select>
                                <!-- <input type="hidden" name="hiddenTowerShapeID" value="{$data.towerShapeID}"> -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">杆塔纬度：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" id="latitude" autocomplete="off" placeholder="可通过打点任务获取" name="latitude" value="{$data.latitude}" >
                            </div>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">所属线路：</label>
                            <div class="formControls col-xs-8">
                                <select class="select" size="1" name="lineID" >
                                    {foreach name='lines' item='v'}
                                    <option value="{$v.lineID}" <?php if($v['lineID']==$data['lineID'] || $lineID==$v['lineID'])echo ' selected';?>>{$v.lineName}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">杆塔海拔：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" id="altitude" autocomplete="off" placeholder="可通过打点任务获取" name="altitude" value="{$data.altitude}" >
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <a href="javascript:void(0);" class="import_btn">坐标导入</a>
                        </div>
                    </td>
                </tr>



<!-- 
                <div class="row cl" style="margin-bottom:20px;white-space: nowrap">
                    <label class="form-label col-xs-4 table_title">　基准点：</label>
                    <div class="formControls col-xs-8">
                        <input type="text" class="input-text" autocomplete="off" placeholder="" id="location" name="location" value="{$data.longitude},{$data.latitude},{$data.altitude}">
                    </div>
                    <img src="/static/index/img/import.png" class="import_icon" />　
                    <a href="javascript:void(0);" class="import_btn">文件导入</a>
                </div> -->

                <tr>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">局部超清：</label>
                            <div class="formControls col-xs-8">
                                <select class="select" size="1" name="localClearPhoto" >
                                    <option value="1" <?php if($data['localClearPhoto'])echo ' selected';?>>是</option>
                                    <option value="0" <?php if(!$data['localClearPhoto'])echo ' selected';?>>否</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">修正类型：</label>
                            <div class="formControls col-xs-8">
                                <input type="hidden" id="fixtypeHidden" value="{$data.fixedtype}">
                                <input type="text" class="input-text" id="fixtypeDisplay" autocomplete="off" readonly>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">通道拍照：</label>
                            <div class="formControls col-xs-8">
                                <select class="select" size="1" name="channelPhotography" >
                                    <option value="1" <?php if($data['channelPhotography'])echo ' selected';?>>是</option>
                                    <option value="0" <?php if(!$data['channelPhotography'])echo ' selected';?>>否</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">初始倍率：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" id="insulatorNum" autocomplete="off" placeholder="" name="insulatorNum" value="{$data.insulatorNum / 10}" >
                            </div>
                        </div>
                    </td>
                    <!-- <td>
                        <div class="row cl" style="margin-bottom:20px;">
                            <label class="form-label col-xs-4 table_title">
                                <img src="/static/index/img/import.png" class="import_icon" />
                            </label>
                            <a href="javascript:void(0);" class="import_btn">文件导入</a>
                        </div>
                    </td> -->
                </tr>

                




                
            
                <!-- <div class="row cl" style="margin-bottom:20px;">
                    <label class="form-label col-xs-4 table_title">杆塔类型：</label>
                    <div class="formControls col-xs-8">
                        <input type="text" class="input-text" autocomplete="off" placeholder="" name="towerType" value="{$data.towerType}">
                    </div>
                </div> -->
                <input type="hidden" name="po_arr" value="" />
                </table>
            </div>

            <div class="controls">
                <table class="table">
                    <tr>
                        <td><div></div></td>
                        <td><div class="po0">
                            <img src="/static/index/img/up<?php if($data['po'][0]==1)echo 'select';?>.png" data-dire="up" class="arrow <?php if($data['po'][0]==1)echo ' active';?>" />
                            <input type="hidden" name="po[0]" value="{$data.po.0+0}" />
                        </div></td>
                        <td><div></div></td>
                    </tr>
                    <tr>
                        <td><div class="po1">
                            <img src="/static/index/img/left<?php if($data['po'][1]==1)echo 'select';?>.png" data-dire="left" class="arrow <?php if($data['po'][1]==1)echo ' active';?>" />
                            <input type="hidden" name="po[1]" value="{$data.po.1+0}" />
                        </div></td>
                        <td><div><img src="/static/index/img/circlemid.png" /></div></td>
                        <td><div class="po2">
                            <img src="/static/index/img/right<?php if($data['po'][2]==1)echo 'select';?>.png" data-dire="right" class="arrow <?php if($data['po'][2]==1)echo ' active';?>" />
                            <input type="hidden" name="po[2]" value="{$data.po.2+0}" />
                        </div></td>
                    </tr>
                    <tr>
                        <td><div></div></td>
                        <td><div class="po3">
                            <img src="/static/index/img/down<?php if($data['po'][3]==1)echo 'select';?>.png" data-dire="down" class="arrow <?php if($data['po'][3]==1)echo ' active';?>" />
                            <input type="hidden" name="po[3]" value="{$data.po.3+0}" /></div></td>
                        <td><div></div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</form>
{include file='public/footer' /}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var fixtype = document.getElementById('fixtypeHidden').value;
        console.log("fixtype:" , fixtype);
        var fixtypeDisplay = document.getElementById('fixtypeDisplay');
        if (fixtype === "0") {
            fixtypeDisplay.value = '原始数据未修正';
        } else if (fixtype === "1") {
            fixtypeDisplay.value = 'm30修正';
        } else if (fixtype === "2") {
            fixtypeDisplay.value = 'M3修正';
        }
    });
</script>

<script>
    function setAlt() {
        layer.open({
            type: 1,
            title: '杆塔高度修正',
            area: ['400px', '300px'],
            content: `
                <div style="padding: 20px;">
                    <input type="hidden" name="towerID" value="{$data.towerID|default=-1}" />
                    <input type="hidden" name="towerAlt" value="{$data.altitude|default=-1}" />
                    <label for="heightInput">本机RTK高度值:</label>
                    <input type="text" id="heightInput" class="layui-input" name="height">
                    <div style="margin-top: 20px;">
                        <label>选择本机类型:</label>
                        <div>
                            <input type="radio" id="m3Correction" name="importType" value="2" onclick="toggleRadio(this)">
                            <label for="m3Correction">M3T</label>
                        </div>
                        <div>
                            <input type="radio" id="m30Correction" name="importType" value="1" onclick="toggleRadio(this)">
                            <label for="m30Correction">M30T</label>
                        </div>
                
                    </div>
                    <div style="margin-top: 20px;">
                        <button class="layui-btn layui-btn-primary" onclick="coverTower()">覆盖该杆塔</button>
                        <button class="layui-btn" onclick="coverLine()">覆盖该线路</button>
                    </div>
                </div>`
        });
    }

    function coverTower() {
        var height = document.getElementById("heightInput").value;
        var towerID = document.querySelector('input[name="towerID"]').value;
        var towerAlt = document.querySelector('input[name="towerAlt"]').value;
        var selectedType = document.querySelector('input[name="importType"]:checked').value;
        layer.confirm('此操作仅修改该杆塔高度值',{
            btn:['确认','取消']
        },function(index){
            sendCoverTowerRequest(towerID, height, towerAlt, selectedType);
        });
    }

    function coverLine() {
        var height = document.getElementById("heightInput").value;
        var towerID = document.querySelector('input[name="towerID"]').value;
        var towerAlt = document.querySelector('input[name="towerAlt"]').value;
        var selectedType = document.querySelector('input[name="importType"]:checked').value;
        layer.confirm('此操作仅修改该线路所有杆塔高度值',{
            btn:['确认','取消']
        },function(index){
            sendCoverLineRequest(towerID, height, towerAlt, selectedType);
        });
    }



    function sendCoverTowerRequest(towerID, height, towerAlt, selectedType) {
        console.log('send data : ' , {towerID, height, towerAlt, selectedType} )
        $.ajax({
            url: "{:url('update_tower_alt')}", 
            type: 'POST',
            data: {
                towerID: towerID,
                height: height,
                towerAlt: towerAlt,
                selectedType:selectedType
            },
            success: function(response) {
                if(response.success) {
                    layer.msg("已修正该杆塔高度", {time:2000});
                    layer.closeAll();
                    location.reload();
                } else {
                    layer.msg("更新失败: " + response.message ,{time:2000});
                }
            
            },
            error: function() {
                layer.msg("无效输入，请检查输入", {time:2000});
               
            }
        });
    }

    function sendCoverLineRequest(towerID, height, towerAlt, selectedType){
        console.log('send data : ' , {towerID, height, towerAlt, selectedType} )
        $.ajax({
            url: "{:url('update_line_alt')}", 
            type: 'POST',
            data: {
                towerID: towerID,
                height: height,
                towerAlt: towerAlt,
                selectedType: selectedType
            },
            success: function(response) {
                if(response.success) {
                    layer.msg("已修正该线路所有杆塔高度", {time:2000});
                    layer.closeAll();
                    location.reload();
                } else {
                    layer.msg("更新失败: " + response.message, {time:2000});
                }
            },
            error: function() {
                layer.msg("无效输入，请检查输入", {time:2000});
            }
        });

    }
</script>

<script>
    let lastSelectedRadio = null;

    function toggleRadio(radio) {
        if (lastSelectedRadio === radio) {
            radio.checked = false;
            lastSelectedRadio = null;
            console.log("lastSelectedRadio1 :" ,lastSelectedRadio);
        } else {
            lastSelectedRadio = radio;
            console.log("lastSelectedRadio2 :" ,lastSelectedRadio);
        }
    }
</script>


<script>
    $(function() {
        $('#towerShapeSelect').on('change', function() {
            var selectedValue = $(this).val();
            $('input[name=hiddenTowerShapeID]').val(selectedValue);
        });
    });
    $(function(){
        // 动态获取元素高度
        var h = $('.big-border').height()
        $('.table-td').css('height',(h - 115) +'px')

        $(window).resize(function () {
            var h = $('.big-border').height()
            $('.table-td').css('height',(h - 115) +'px')
        });
    })

    $('select[name=towerShapeID]').on('change',function(){
        var towerShapeID = $(this).val();
        console.log("towerShapeID select : " , towerShapeID);
        var po_arr1 = <?php echo json_encode($po_arr1); ?>;
        console.log("po_arr1 : " , po_arr1);
        var po = po_arr1[towerShapeID];
        console.log("po select : " , po);
        po = po.toString();
        console.log("po convert to string2: " , po);
        if(po!='' && po !=undefined){
            po_arr=po.split('');
            for(var i=0;i<=3;i++){
                var po_con=$('.po'+i);
                var img=po_con.find('.arrow');
                var dire=img.data('dire');
                if(po_arr[i]==1){
                    img.addClass('active').attr('src','/static/index/img/'+dire+'select.png');
                    po_con.find('input').val(1);
                }else{
                    img.removeClass('active').attr('src','/static/index/img/'+dire+'.png');
                    po_con.find('input').val(0);
                }
            }
        } 
    })

    $('.controls .arrow').on('click',function(){
        console.log("controls " );
        var dire=$(this).data('dire');
        if($(this).hasClass('active')){
            $(this).attr('src','/static/index/img/'+dire+'.png');
            $(this).removeClass('active');
            $(this).parent().find('input').val(0);
        }else{
            $(this).attr('src','/static/index/img/'+dire+'select.png');
            $(this).addClass('active');
            $(this).parent().find('input').val(1);
        }
        console.log("dire :" , dire);
        var po_arr=[];
        for(var i=0;i<=3;i++){
            var po_con=$('.po'+i);
            console.log("po_con :" , po_con);
            po_arr.push(po_con.find('input').val());
            console.log("value :" , po_con.find('input').val())
        }
        po_arr=po_arr.join('');
        console.log("po_arr : " ,po_arr );
        $('input[name=po_arr][type=hidden]').val(po_arr);
        // var po_arr1 = po_arr;
        var po_arr1={$po_arr|json_encode|raw};
        console.log("po_arr1 : " ,po_arr1 );
        var shape_id = po_arr1[po_arr];
        console.log("shape_id : " ,shape_id );
        if(shape_id>0){
            $('select[name=towerShapeID]').val(shape_id);
        }else{
            $('select[name=towerShapeID]').val(34);
        }
    });

    function del_tower(){
        layer.confirm('确定删除该杆塔？',function(){
            location.href="{:url('index/basic_list')}";
        })
    }

    layui.use(['upload'],function(){
        var upload=layui.upload;
        upload.render({
            elem: '.import_btn'
            ,url:"{:url('import')}"
            ,accept:'file'
            ,exts: 'txt'
            ,multiple:false
            ,field:'file'
            ,auto:true
            ,choose: function(obj){
                layer.load(1, {
                    shade: [0.5,'#000']
                });
            }
            , progress: function(n, elem, res, index){
                layer.load(1, {
                    shade: [0.5,'#000']
                });
            }
            ,done:function(res, index, upload){
                layer.closeAll();
                if(res.status===1){
                    layer.msg('导入成功',{time:1500});
                    $('input[name=longitude]').val(res.data.lon);
                    $('input[name=latitude]').val(res.data.lat);
                    $('input[name=altitude]').val(res.data.alt);
                }else{
                    layer.alert(res.msg);
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                layer.closeAll();
                layer.alert('上传失败，请重试');
            }
        });
    })

</script>

<script>
    <?php if($my_permission['addBasicData']<=0 && $my_permission['modifyBasicData']<=0):?>
    $(function(){
        $('input,select').prop('disabled',true).prop('readonly',true);
    })
    <?php endif;?>
</script>


<script>
    $('.del_tower').on('click',function(e){
        var back_url=$(this).closest('form').data('back');
        console.log("back_url :" ,back_url);
        e.preventDefault();
        e.stopPropagation();
        var obj=$(this);
        layer.confirm('确认删除该任务？',function(){
            var id=obj.data('id');
            console.log("id :" , id);
            $.ajax({
                type: "POST",
                url: "{:url('del_tower')}",
                data: {id:id},
                dataType: "json",
                error: function () {
                    layer.closeAll();
                    layer.alert("网络错误，请刷新重试!");
                },
                success: function (data) {
                    layer.closeAll();
                    layer.msg(data.msg,{time:1500},function(){
                        if(data.status===1){
                            location.href=back_url;
                            console.log(back_url);
                        }
                    });
                }
            });

        })
    })
</script>

<script>
    var insulatorNum = document.getElementById("insulatorNum").value;
    console.log("insulatorNum: ",insulatorNum);
    if(insulatorNum == 0){
        document.getElementById("insulatorNum").value = 2.0;
    }
</script>