{include file='public/header' /}
{include file='public/top_nav' /}
<!-- 内容 -->
<div class="a-15" style="overflow: visible;">
    <div class="user_con">
        <div class="left_nav">
               <?php if($permission['permissionGroupID']==0):?>
            {include file='public/user_nav' /}
            <?php else:?>
            {include file='public/user_not_admin' /}
            <?php endif;?>
        </div>
        <form action="{:url('add_group')}" class="right_content add_con" id="group_form" data-back="{:url('index/group_list')}">
            <input type="hidden" name="groupID" value="{$data.groupID|default=-1}" />
            <div class="top_con mt-20">
                <span class="l">
                    <a class="add_btn" href="{:url('group_list')}">返回</a>
                </span>
                <span class="r">
                    <a class="add_btn" href="javascript:void(0);" onclick="submit_form(this)">完成</a>
                </span>
                <div style="clear:both;"></div>
            </div>
            <div class="table_con">
                <table class="table mt-10">

                    <tr>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">班组名称 *：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="groupName" value="{$data.groupName}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">所属单位：</label>
                                    <?php if($permission['permissionGroupID'] == 0 || $permission['permissionGroupID'] == 3):?>
                                    <select class="select" size="1" name="companyID">
                                        {foreach name='companys' item='v'}
                                        <option value="{$v.companyID}" <?php if($v['companyID']==$data['companyID'])echo ' selected';?>>{$v.companyName}</option>
                                        {/foreach}
                                    </select>
                                    <?php else:?>
                                    <div class="formControls col-xs-8">
                                        <select class="select" size="1" name="companyID">
                                            <option value="{$permission.companyID}" <?php if($permission['companyID']==$data['companyID'])echo ' selected';?>>{$permission.companyName}</option>
                                        </select>
                                    </div>
                                    <?php endif;?>
                            </div>
                                <!-- </div> -->
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">负责人：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="supervisor" value="{$data.supervisor}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">备注：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="comment" value="{$data.comment}">
                                </div>
                            </div>
                        </td>
                    </tr> -->
                </table>
            </div>
        </form>
    </div>
</div>
{include file='public/footer' /}
<script>
    <?php if($my_permission['addUserMgr']<=0 && $my_permission['modifyUserMgr']<=0):?>
    $(function(){
        $('input,select').prop('disabled',true).prop('readonly',true);
    })
    <?php endif;?>
</script>