{include file='public/header' /}
<style>
    .table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        /* 行之间的间距 */
    }

    .row {
        display: flex;
        align-items: center;
    }

    .form-label {
        margin: 0;
    }

    .table_title {
        text-align: right;
    }

    .formControls {
        padding-left: 10px;
    }

    .input-text {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .select1 {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    td {
        padding: 10px;
        vertical-align: middle;
        /* 垂直居中对齐 */
    }

    td>.row.cl {
        display: flex;
        align-items: center;
    }
</style>
<form action="{:url('index/get_drone')}" data-back="{:url('index')}" id="drone_form"
    style="display:block;width:100%;height:100%;">
    <div class="a-2 a-2-1">
        <!--            <img class="a-3" src="/static/index/img/top_bg.png" />-->
        <div class="text-c a-4" style="">{$title}</div>
        <div class="a-5 text-r top_btn">
            <div class="a-12">
                <a href="{:url('index/index')}">返回</a>
            </div>
            <?php if($permission['permissionGroupID']!=0):?>
            <?php else:?>
            <div class="a-6-box">
                <a class="add_btn" id="updateVersion" href="javascript:void(0);" onclick="updateVersion(this)">版本升级</a>
            </div>
            <div class="a-6-box">
                <a class="add_btn" id="killParent" href="javascript:void(0);" onclick="killParent(this)">进程杀手</a>
            </div>
            <?php endif;?>
            <div class="a-6-box">
                <a class="add_btn" id="syncInfo" href="javascript:void(0);" onclick="syncInfo(this)">同步至盒子</a>
            </div>
        </div>
    </div>
    <!-- 内容 -->
    <div class="a-15">
        <div class="big-border">
            <div id="add_task_form">
                <!-- <input type="hidden" name="doneID" value="{$data.submissionID|default=-1}" /> -->
                <input type="hidden" name="droneSncode" value="{$data.snCode}" />
                <table class="table ">
                    <tr>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">无人机类型：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder=""
                                        name="droneType" value="{$data.droneType}" readonly>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">镜头类型：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder=""
                                        name="lensType" value="{$data.lensType}" readonly>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">最大航速：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder=""
                                        name="maxSpeed" value="{$data.maxSpeed}" readonly>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">当前版本号：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder=""
                                        name="systemVersion" value="{$data.systemVersion}" readonly>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                      

                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">&nbsp;&nbsp;&nbsp;&nbsp;RTK公司：</label>
                                <div class="formControls col-xs-8">
                                    <select class="select1"  name="crosCompanyID">
                                        <?php if (is_null($data['rtkAccountType'])): ?>
                                            <option value="" selected>暂无公司设置</option>
                                        <?php endif; ?>
                                        {foreach name='cros_company_types' item='v'}
                                            <option value="{$v.cros_company_id}" <?php if($data['rtkAccountType']==$v['cros_company_id'])echo ' selected';?>>{$v.cros_company_name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">RTK账号：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder=""
                                        name="rtkCount" value="{$data.rtkCount}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">RTK密码：</label>
                                <div class="formControls col-xs-8">
                                    <input type="password" class="input-text" autocomplete="new-password" placeholder=""
                                        name="rtkPassword" value="{$data.rtkPassword}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">RTK服务器：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder="" name="rtkIP"
                                        value="{$data.rtkIP}">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">RTK挂载点：</label>
                                <div class="formControls col-xs-8">
                                    <input type="text" class="input-text" autocomplete="off" placeholder=""
                                        name="rtkMountPoint" value="{$data.rtkMountPoint}">
                                </div>
                            </div>
                        </td>
                    </tr>

                    <?php if($permission['permissionGroupID']==0 || $permission['playLive'] == 1):?>
                    <tr>
                        <td>
                            <div class="row cl">
                                <label class="form-label col-xs-4 table_title">&nbsp;&nbsp;&nbsp;是否直播：</label>
                                <div class="formControls col-xs-8">
                                    <select name="wetherLive" class="select1" >
                                        <option value="1" <?php if($data['wetherLive'])echo ' selected';?>>直播开启</option>
                                        <option value="0" <?php if(!$data['wetherLive'])echo ' selected';?> >直播关闭</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <?php endif;?>



                </table>
                <!-- <table class="table " style="margin-top:10px;">
                    <tr class="table_title">
                        <td>识别物占屏幕尺寸设置：</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <div class="table-td" style="overflow-y:auto;">
                                <table class="table linelist">
                                    <tr>
                                        <td>
                                            <div class="row cl">
                                                <label class="form-label col-xs-4 table_title">金具：</label>
                                                <div class="formControls col-xs-8">
                                                    <input type="text" class="input-text" autocomplete="off"
                                                        placeholder="" name="jjPhoto" value="{$data.jjPhoto}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row cl">
                                                <label class="form-label col-xs-4 table_title">塔身：</label>
                                                <div class="formControls col-xs-8">
                                                    <input type="text" class="input-text" autocomplete="off"
                                                        placeholder="" name="tsPhoto" value="{$data.tsPhoto}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row cl">
                                                <label class="form-label col-xs-4 table_title">塔尖：</label>
                                                <div class="formControls col-xs-8">
                                                    <input type="text" class="input-text" autocomplete="off"
                                                        placeholder="" name="tjPhoto" value="{$data.tjPhoto}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="row cl">
                                                <label class="form-label col-xs-4 table_title">标牌：</label>
                                                <div class="formControls col-xs-8">
                                                    <input type="text" class="input-text" autocomplete="off"
                                                        placeholder="" name="bpPhoto" value="{$data.bpPhoto}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row cl">
                                                <label class="form-label col-xs-4 table_title">绝缘子：</label>
                                                <div class="formControls col-xs-8">
                                                    <input type="text" class="input-text" autocomplete="off"
                                                        placeholder="" name="jyzPhoto" value="{$data.jyzPhoto}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table> -->
            </div>
        </div>
    </div>
</form>

{include file='public/footer' /}
<script>
    function syncInfo(_this) {
        document.getElementById("syncInfo").disabled = true;
        document.getElementById("syncInfo").style.opacity = "0.5";
        console.log("submit_form");
        var id = $(_this).closest('form').attr('id');
        console.log("id:", id);
        var url = $(_this).closest('form').attr('action');
        console.log("url:", url);
        var back_url = $(_this).closest('form').data('back');
        console.log("back_url:", back_url);
        var form = document.getElementById(id);
        console.log("form:", form);
        var form_data = new FormData(form);
        console.log("form_data:", form_data);
        $.ajax({
            type: "POST",
            url: url,
            data: form_data,
            dataType: "json",
            processData: false,
            contentType: false,
            error: function (status, error) {
                console.log(error);
                layer.closeAll();
                layer.msg("同步信息指令发送失败", { time: 2000 });
                document.getElementById("syncInfo").disabled = false;
                document.getElementById("syncInfo").style.opacity = "1";
            },
            success: function (data) {
                layer.closeAll();
                layer.msg("同步信息指令已发送", { time: 2000 });
                document.getElementById("syncInfo").disabled = false;
                document.getElementById("syncInfo").style.opacity = "1";

            }
        });
    }

    function updateVersion(_this) {
        console.log("updateVersion");
        document.getElementById("updateVersion").disabled = true;
        document.getElementById("updateVersion").style.opacity = "0.5";
        var id = $(_this).closest('form').attr('id');
        console.log("id:", id);
        var url = $(_this).closest('form').attr('action');
        console.log("url:", url);
        var back_url = $(_this).closest('form').data('back');
        console.log("back_url:", back_url);
        var form = document.getElementById(id);
        console.log("form:", form);
        var form_data = new FormData(form);
        console.log("form_data:", form_data);
        $.ajax({
            type: "POST",
            url: "{:url('update_version')}",
            data: form_data,
            dataType: "json",
            processData: false,
            contentType: false,
            error: function (status, error) {
                console.log(error);
                layer.closeAll();
                layer.msg("升级指令发送失败", { time: 2000 });
                document.getElementById("updateVersion").disabled = false;
                document.getElementById("updateVersion").style.opacity = "1";
            },
            success: function (data) {
                layer.closeAll();
                layer.msg("升级指令已发送", { time: 2000 });
                document.getElementById("updateVersion").disabled = false;
                document.getElementById("updateVersion").style.opacity = "1";
            }
        });
    }


    function killParent(_this) {
        console.log("killParent");
        document.getElementById("killParent").disabled = true;
        document.getElementById("killParent").style.opacity = "0.5";
        var id = $(_this).closest('form').attr('id');
        console.log("id:", id);
        var url = $(_this).closest('form').attr('action');
        console.log("url:", url);
        var back_url = $(_this).closest('form').data('back');
        console.log("back_url:", back_url);
        var form = document.getElementById(id);
        console.log("form:", form);
        var form_data = new FormData(form);
        console.log("form_data:", form_data);
        $.ajax({
            type: "POST",
            url: "{:url('kill_parent')}",
            data: form_data,
            dataType: "json",
            processData: false,
            contentType: false,
            error: function (status, error) {
                console.log(error);
                layer.closeAll();
                layer.msg("终止升级发送失败", { time: 2000 });
                document.getElementById("killParent").disabled = false;
                document.getElementById("killParent").style.opacity = "1";
            },
            success: function (data) {
                layer.closeAll();
                layer.msg("终止升级已发送", { time: 2000 });
                document.getElementById("killParent").disabled = false;
                document.getElementById("killParent").style.opacity = "1";
            }
        });
    }





</script>