{include file='public/header' /}
{include file='public/top_nav' /}
<!-- 内容 -->
<div class="a-15" style="overflow: visible;">
    <div class="user_con">
        <div class="left_nav">
               <?php if($permission['permissionGroupID']==0):?>
            {include file='public/user_nav' /}
            <?php else:?>
            {include file='public/user_not_admin' /}
            <?php endif;?>
        </div>
        <div class="right_content">
            <div class="top_con mt-20">
                <span class="l">
                                   <?php if($my_permission['addUserMgr']<=0):?>
                                   <?php else:?>
                    <a class="add_btn" href="{:url('add_pg')}">
                        <img src="/static/index/img/table_add.png" />
                    </a>
                    <?php endif;?>
                </span>
                <form class="r" method="get" action="{:url(ACTION_NAME)}" id="search_form" >
                        <span class="select-box" style="width:120px;padding:0;border:none;">
                            <select name="" class="select" onchange="this.closest('form').submit();">
                                <option value="0" >权限组名称</option>
                            </select>
                        </span>
                    <input type="text" name="keywords" placeholder="" style="width:200px" value="{$keywords}" class="input-text">
                    <button name="" id="" class="btn " type="submit">搜索</button>
                </form>
                <div style="clear:both;"></div>
            </div>
            <div class="table_con">
                <table class="table table-hover mt-10 text-c" data-url="{:url('index/del_pg')}">
                    <thead>
                    <tr class="text-c">
                        <th>序号</th>
                        <th>权限组名称</th>
                        <th>当前权限</th>
                        <!-- <th>权限组人数</th> -->
                        <!-- <th>创建日期</th> -->
                        <th>&nbsp;&nbsp;操作</th>
                    </tr>
                    </thead>
                    {foreach name='data' item='v' key='k'}
                    <tr class="text-c">
<!--                        <td>{$v.groupID}</td>-->
                        <td>{$k+1}</td>
                        <td>{$v.permission_group_name}</td>
                        <td>{$permissions[$v[permissionID]]}</td>
                        <!-- <td>{$v.groupID|pg_user_count}</td> -->
                        <!-- <td>{$v.cratedTime}</td> -->
                        <td>
                            <?php if($my_permission['findUserMgr']<=0):?>
                            <?php else:?>
                                <a class="btn" href="{:url('check_pg',['id'=>$v['groupID']])}">查看</a>
                            <?php endif;?>

                            <?php if($my_permission['modifyUserMgr']<=0):?>
                            <?php else:?>
                                <a class="btn" href="{:url('add_pg',['id'=>$v['groupID']])}">修改</a>
                            <?php endif;?>

                            <?php if($my_permission['deleteUserMgr']<=0):?>
                            <?php else:?>
                                <a class="btn" onclick="del_tr(this,{$v.groupID})">删除</a>
                            <?php endif;?>


                        </td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
</div>
{include file='public/footer' /}