{include file='public/header' /}
<style>
    .a-1 {
        padding: 30px;
        padding-top: 0;
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }

    #add_task_form .table-td td {
        padding-left: 10px;
    }

    #add_task_form a.btn {
        color: white;
        background: none !important;
        border: none !important;
    }

    .video-container {
        width: 100%;
        text-align: right;
    }

    .info-container {
        width: 100%;
        text-align: left;
    }

    .grid-item {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        display: flex;
    }

    .grid-item video {
        flex: 1;
        height: 100% !important;
    }

    .grid-item .info {
        width: 40%;
        text-align: left;
        padding: 0% 10px;
    }

    .grid-item.selected {
        background-color: rgb(244, 63, 63);
    }

    .play-button {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .play-button.disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
</style>

<form action="{:url('index/play_video')}" data-back="{:url('index')}" id="play_video"
    style="display:block;width:100%;height:100%;">
    <div class="a-2 a-2-1">
        <div class="text-c a-4">{$title}</div>
        <div class="a-5 text-r top_btn">
            <div class="a-6-box">
                <a href="{:url('index/index')}">返回</a>
            </div>
        </div>
    </div>
    <div class="a-15">
        <div class="big-border" style="overflow-y:auto;">
            <div class="grid-item">
                <div class="info-container">
                    <table class="table_list table">
                        <tr class="text-c">
                            <td style="width:60px !important;">SN码:</td>
                            <td style="width:60px !important;" class="snCode-column">{$currentDrone.snCode}</td>
                        </tr>
                        <tr class="text-c">
                            <td style="width:60px !important;">任务ID:</td>
                            <td style="width:60px !important;" class="snCode-column">{$currentDrone.submissionID}</td>
                        </tr>
                        <tr class="text-c">
                            <td style="width:60px !important;">任务名称:</td>
                            <td style="width:60px !important;" class="snCode-column">{$currentDrone.submissionName}</td>
                        </tr>

                        <!-- <tr class="text-c">
                            <td style="width:60px !important;"> 
                                <button id="video-button" class="play-button">播放</button>
                            </td>
                            <td style="width:60px !important;"> 
                                <button id="stop-button" class="stop-button">停止</button>
                            </td>
                            
                        </tr> -->


                    </table>

                </div>
                <div class="video-container">
                    <video id="video-player" class="video-js vjs-default-skin" style="width:100%;height:100%;" controls
                        src="{$currentDrone.liveAddr}"></video>
                </div>
            </div>
        </div>
    </div>
</form>

{include file='public/footer' /}
<script src="https://cdn.jsdelivr.net/npm/flv.js@1.5.0/dist/flv.min.js"></script>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        const videoPlayer = document.getElementById('video-player');
        const videoSrc = videoPlayer.getAttribute('src');
        let flvPlayer = null;

        // const currentDrone = {
        //     snCode : "{$currentDrone.snCode}"
        // }
        // // Function to send signal
        // function sendSignal() {
        //     console.log("Signal sent at " + new Date().toLocaleTimeString());
        //     $.ajax({
        //         url: "{:url('send_play_video')}",
        //         type: 'POST', 
        //         dataType: 'json',
        //         data:currentDrone


        //     });
        // }
        // setInterval(sendSignal, 1000);



        function loadFlvPlayer() {
            if (flvjs.isSupported()) {
                flvPlayer = flvjs.createPlayer({
                    type: 'flv',
                    url: videoSrc,
                });
                flvPlayer.attachMediaElement(videoPlayer);
                flvPlayer.load();
            } else {
                console.log('FLV.js is not supported in this browser.');
            }
        }

        videoPlayer.addEventListener('play', function () {
            if (!flvPlayer) {
                console.log("play button")
                loadFlvPlayer();
                flvPlayer.play();
            } else {
                flvPlayer.play();
            }
        });

        videoPlayer.addEventListener('pause', function () {
            if (flvPlayer) {
                console.log("pause button")
                flvPlayer.unload();
                flvPlayer = null;
            }
        });

        // loadFlvPlayer();
    });
</script>


