{include file='public/header' /}
{include file='public/top_nav' /}
<!-- 内容 -->
<div class="a-15" style="overflow: visible;">
    <div class="user_con">
        <div class="left_nav">
            {include file='public/user_nav' /}
        </div>
        <div class="right_content">
            <div class="top_con mt-20">
                <span class="l">
               <?php if($my_permission['addUserMgr']<=0):?>
               <?php else:?>
                    <a class="add_btn" href="{:url('add_user')}">
                        <img src="/static/index/img/table_add.png" />
                    </a>
                <?php endif;?>
                </span>
                <form class="r" method="get" action="{:url(ACTION_NAME)}" id="search_form" >
                        <span class="select-box" style="width:120px;padding:0;border:none;">
                            <select name="type" class="select" >
                                <option value="1" <?php if($type==1)echo ' selected';?> >人员名称</option>
                                <option value="2" <?php if($type==2)echo ' selected';?> >用户名</option>
                                <option value="3" <?php if($type==3)echo ' selected';?> >职位</option>
                                <option value="4" <?php if($type==4)echo ' selected';?> >领导</option>
                            </select>
                        </span>
                    <input type="text" name="keywords" placeholder="" style="width:200px" value="{$keywords}" class="input-text">
                    <button name="" id="" class="btn " type="submit">搜索</button>
                </form>
                <div style="clear:both;"></div>
            </div>
            <div class="table_con">
                <table class="table table-hover mt-10" data-url="{:url('index/del_user')}">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>人员名称</th>
                        <th>班组</th>
                        <th>职位</th>
                        <th>领导</th>
                        <th>权限组</th>
                        <th>&nbsp;&nbsp;操作</th>
                    </tr>
                    </thead>
                    {foreach name='data' item='v' key='k'}
                    <tr>
<!--                        <td>{$v.userID}</td>-->
                        <td>{$k+1}</td>
                        <td>{$v.full_name}</td>
                        <td>{$groups[$v[group_list_id]]}</td>
                        <td>{$v.position}</td>
                        <td>{$v.supervisor}</td>
                        <td>{$pgs[$v[permissionGroupID]]}</td>
                        <td>
                            <?php if($my_permission['findUserMgr']<=0):?>
                            <?php else:?>
                                <a class="btn" href="{:url('check_user',['id'=>$v['userID']])}">查看</a>
                            <?php endif;?>

                            <?php if($my_permission['modifyUserMgr']<=0):?>
                            <?php else:?>
                                <a class="btn" href="{:url('add_user',['id'=>$v['userID']])}">修改</a>
                            <?php endif;?>

                            <?php if($my_permission['deleteUserMgr']<=0):?>
                            <?php else:?>
                                <a class="btn" onclick="del_tr(this,{$v.userID})">删除</a>
                            <?php endif;?>


                        </td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
</div>
{include file='public/footer' /}